@import 'fonts';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';
@import "styleall.css";
@import "device-css.css";
@import "magic-check.css";
@import "dark-theme.css";

body{
  font-size: 14px;
  color:#f2f2f2 !important;
  background-color: #111829 !important;
}
// Some quick styling to match the multiselct with Bootstrap.
#app .multiselect__tags {
  border: $input-btn-border-width solid $input-border-color;
}

#app .multiselect, .multiselect__input, .multiselect__single {
  font-size: $font-size-base;
}

#app .multiselect--active .multiselect__tags {
  //color: $input-color-focus;
  //background-color: $input-bg-focus;
  //border-color: $input-border-focus;
  outline: none;
}
#app{

  margin-bottom: 20px;
}

.table-group td,.table-group th{
  padding: 10px 10px 5px 10px !important;
}


.typeSearch select, .boxfiter > select {
  height: 25px;
  width: 100%;
  border-radius: 4px;
}


@media (min-width: 1200px) {
  .container {
    width: 1200px !important;
    max-width: 100%;
  }
}
@media (min-width: 1550px) {
  .container {
    width: 1200px !important;
    max-width: 100%;
  }
  #app .menu_not_collapsed{
    padding-left: 0px !important
  }
  #app .menu_collapsed{
    padding-left: 0px !important
  }
}

