body{
  background-color: #111829 !important;
}

.ev-dashboard {
  background: #151f37;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff !important;
  background-color: #111829 !important;
  border-color: #333 #333 #333 !important;
}

.breadcrumb{
  background-color: #111829 !important;
}
.card-header{
  background-color: #111829 !important;
}
.card{
  background: #151f37 !important;
}

.table-device.table{
  border: 1px solid #111829 !important;
}
.table-bordered th, .table-bordered td{
  border: 1px solid #111829 !important;
}

.table-hover tbody tr:hover{
  background: #111a2d ;
  color: #fff 
}

input, select, .custom-select, textarea{
  background-color: #050c1e !important;
  color:#fff!important
}

.vdp-datepicker__calendar{
  background: #1f2e51 !important;
}

.modal-content{
  background-color: #151f37 !important;
}

.dg-main-content{
  background-color: #151f37 !important;
}
.v-sidebar-menu.vsm-default {
  background-color: #151f37 !important;
}