.ev-dashboard{
  font-size: 14px !important;
  overflow-y: auto;
  overflow-x: hidden;
}
.boxfiter > .col-md-3 > input,.boxfiter > .col-md-1 > select {
  height: 30px !important;
}

.boxfiter {
  border: 2px solid #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  min-height: 40px;
  height: 40px;
  padding: 0px 10px 0px 10px;
  background: #4267b2;
  color: #fff;
  float: left;
  margin: auto !important;
}
.marginauto{
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.table tr td{
  padding: 0.6rem;
}
.breadcrumb-item{
  font-size: 16px;
}
.btn{
  font-size: 15px;
}
.table{
  overflow: hidden;
}
.content{
  padding-left: 10px;
  padding-right: 10px;
  overflow: -webkit-paged-x;
}

#first {
  background-color: #4B4D65;
}
#second {
  background-color: #FF8A66;
}
.section {
  padding: 100px;
  padding-left: 150px;
}
.section input[type="radio"],
.section input[type="checkbox"]{
  display: none;
}
label {
  position: relative;
}

/* Base styles for spans */
 span::before,
 span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Radio buttons */
 span.radio:hover {
  cursor: pointer;
}
 span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #A8AAC1;
  border-radius: 50px;
}
 span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #6C788A;
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #EBFF43;
}

/* Check-boxes */
 span.checkbox::before {
  width: 27px;
  height: 27px;
  background-color: #fff;
  left: -35px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color .2s;
}
 span.checkbox:hover::before {
  border: 3px solid #F0FF76;
}
 span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -31px;
  top: 2px;
  color: transparent;
  transition: color .2s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: #62AFFF;
}
.controlon{
  background: #44ce94;
  /* background-image: linear-gradient(to top, #4075f0 , #4ff2af); */
}
.navbar-collapse a{
  color:#4db8ff;
}
.navbar-collapse a{
  color:#4db8ff;
}
.navbar-collapse a:hover{
  color:#fff;
}

/*the nhom doi tuong*/
.state-overview .symbol .bigicon {
  color: #fff;
  font-size: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-border: 2px dotted #fff;
  -moz-border: 2px dotted #fff;
  -ms-border: 2px dotted #fff;
  -o-border: 2px dotted #fff;
  border: 2px dotted #fff;
  width: 85px;
  height: 85px;
  padding-top: 17px;
}
.state-overview .red {
  background: #e74c3c;
}


.state-overview .symbol {
  width: 60%;
  padding: 25px 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}

.state-overview .symbol, .state-overview .value {
  text-align: center;
  padding-left: 10px;
}
.state-overview .value{
  padding-top: 10px;
  /*color: #fff;*/
}
.state-overview .terques {
  background: #1abc9c;
}
.table-group td,.table-group th{
  padding: 10px 10px 5px 10px !important;
}

.text-left{
  float: left !important;
}
.text-right{
  float: right !important;
}

/*color*/
.white{
  color: #fff;
}

.vdp-datepicker__calendar header{
  line-height:25px !important;
}
.formtime input{
  margin: 5px;
  min-width: 30% !important;
  float: left;
}

.v-sidebar-menu .vsm-link {
  font-size: 13px !important
}
.value{
  font-size: 14px;
  padding-right: 10px;
  -webkit-padding-start:10px;
}
.value .text-right{
  margin-left: auto;
 }

@media(max-width: 749px) and  (min-width:1px){
  #view-control .col-md-4{
    max-width: 50%!important;
  }

  .value{
    padding-right: 10px !important;
    -webkit-padding-start:10px !important;
  }
}