.view-detailgroup .view-camera video {
  width: 100%;
  height: 100%;
}

.view-camera {
  max-height: 300px;
}

.table-schedule thead td {
  text-align: center;
}

.table-schedule thead td:nth-child(2) {
  text-align: left;
}

.table-schedule tbody tr td {
  text-align: center;
}

.table-schedule tbody tr td:nth-child(2) {
  text-align: left;
}

.day-of-weed .col-sm-1 {
  margin-right: 25px;
}


.table-consumed {
  min-height: 400px;
}

.script-devicename {
  margin-top: 4px;
  font-weight: bold;
}

.script-group-device {
  float: left;
  padding-top: 15px;
  overflow: hidden;
  text-align: center;
  border-right: 1px solid #111829;
  border-bottom: 1px solid #111829;
}

.script-group{
  padding: 20px;
  overflow: hidden;
}
.view-detail-script{

}
.script-group.On .card{
  border: 5px solid #1abc9c;
  box-shadow: #1d1e1f;
}
.script-group.Off .card{
  border: 1px solid #ddd;
  box-shadow: #1d1e1f;
}

