<style scoped>
  @import "style.css";

  .range-slider {
    width: 100% !important;
  }

  #ex1Slider .slider-selection {
    background: #BABABA;
  }
</style>
<template>
  <div class="ev-dashboard view-detailgroup">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <router-link to="/control_group"> Điều khiển</router-link>
      </li>
      <li class="breadcrumb-item active">{{selectgroup.name}}</li>
    </ol>
    <b-card no-body>
      <b-tabs ref="tabs" card>
        <b-tab title="Từng thiết bị">
          <div>
            <template>
              <div>
                <div class="my-1 row">
                  <div class="col-md-6">
                    <!--<b-form-fieldset horizontal :label-cols="8">-->
                    <!--<b-form-select :options="pageOptionsDevice" v-model="perPage"/>-->
                    <!--</b-form-fieldset>-->
                    <b-form-fieldset horizontal :label-cols="3">
                      <b-form-input v-model="filterDevicedata" placeholder="Tìm kiếm thiết bị"/>
                    </b-form-fieldset>
                  </div>
                  <div class="col-md-6">
                    <!--<b-form-fieldset horizontal :label-cols="3">-->
                    <!--<b-form-input v-model="filterDevicedata" placeholder="Tìm kiếm thiết bị"/>-->
                    <!--</b-form-fieldset>-->
                  </div>
                </div>
                <div class="col-md-8 float-left table-device">
                  <table class="table table-group table-bordered">
                    <thead>
                    <td>Trạng thái</td>
                    <td>STT</td>
                    <td>Mã thiết bị</td>
                    <td>Tên</td>
                    <td>Mã điều khiển</td>
                    <td>Trạng thái</td>
                    <td>Gia tri</td>

                    </thead>
                    <tbody>
                    <tr v-for="(device,index) in onDeviceFiltered()" :key="device._id"
                        :class="device.state?'controlon':'controloff'">
                      <td>
                        <div class="switch" style="">
                          <label class="switch" :id="'switch'+ device._id">
                            <input type="checkbox" v-model="device.state" @change="senddevicecontrol(device.hardwareid,device.state,$event)"
                                   class="switch-input">
                            <span class="switch-label" data-on="On" data-off="Off"></span>
                            <span class="switch-handle"></span>
                          </label>

                        </div>
                      </td>
                      <td>{{index + 1}}</td>
                      <td>{{device.hardwareid}}</td>
                      <td>{{device.name}}</td>
                      <td>{{device.controlid}}</td>
                      <td class="text-center">{{device.state ? 'Bật' : 'Tắt' }}</td>
                      <td>{{device.value}}</td>

                    </tr>
                    </tbody>
                  </table>
                  <div class="row my-1">
                    <div class="col-md-12 text-md-right">
                      <!--<b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage"-->
                      <!--class=" float-lg-right"/>-->
                    </div>
                  </div>
                </div>
                <div class="col-md-4 float-right control-device box-value">

                  <div class="col-md-12" style="margin: auto;overflow: hidden">
                    <img v-bind:src="urlimagedevice" style="width: 100%;height: auto;"/>
                  </div>
                </div>


              </div>
            </template>
          </div>

        </b-tab>
        <b-tab title="Lịch điều khiển">
          <button class="btn btn-success float-right" style="margin: 5px 5px" @click="opencreateschedule()">
            Thêm lịch
          </button>
          <table class="table table-schedule table-bordered">
            <thead>
            <td>STT</td>
            <td>Trạng thái</td>
            <td class="left">Tên lịch</td>
            <td>Kiểu điều khiển</td>
            <td>Thời gian</td>
            <td>T2</td>
            <td>T3</td>
            <td>T4</td>
            <td>T5</td>
            <td>T6</td>
            <td>T7</td>
            <td>CN</td>
            <td>Hoạt động</td>

            </thead>
            <tbody>
            <tr v-for="(schedule,index) in onScheduleFiltered()" :key="schedule._id"
                >


              <td>{{index + 1}}</td>
              <td>
                <div class="switch" style="">
                  <label class="switch" :id="'switch'+schedule._id">
                    <input type="checkbox" v-model="schedule.iscurrent" @change="UpdateIsCurrentSchedule(schedule)"
                           class="switch-input">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                  </label>

                </div>
              </td>
              <td>{{schedule.name}}</td>
              <td>{{schedule.control === 'on' ? 'BẬT' : 'TẮT'}}</td>
              <td>
                {{schedule.scheduletime.hour + " : " + schedule.scheduletime.minute + " : " + schedule.scheduletime.second}}
              </td>
              <td>
                <i v-if="schedule.listdayofweek.includes('1')" class="fa fa-check" aria-hidden="true"></i></td>
              <td><i v-if="schedule.listdayofweek.includes('2')" class="fa fa-check" aria-hidden="true"></i></td>
              <td><i v-if="schedule.listdayofweek.includes('3')" class="fa fa-check" aria-hidden="true"></i></td>
              <td><i v-if="schedule.listdayofweek.includes('4')" class="fa fa-check" aria-hidden="true"></i></td>
              <td><i v-if="schedule.listdayofweek.includes('5')" class="fa fa-check" aria-hidden="true"></i></td>
              <td><i v-if="schedule.listdayofweek.includes('6')" class="fa fa-check" aria-hidden="true"></i></td>
              <td><i v-if="schedule.listdayofweek.includes('0')" class="fa fa-check" aria-hidden="true"></i></td>
              <td class="text-center">
                <i class="fa fa-edit" @click="openupdateschedule(schedule)"></i>
                <i class="fa fa-remove" @click="opendeleteschedule(schedule)"></i>
              </td>

            </tr>
            </tbody>
          </table>
        </b-tab>
        <b-tab title="Điện năng tiêu thụ">
          <div>
            <template>
              <div>
                <!--<col-md-12 style="overflow: hidden">-->
                  <!--<h3>Điện năng tiêu thụ dự kiến</h3>-->
                <!--</col-md-12> -->
                <div class="my-1 row">
                    <div class="col-md-3">

                    <b-form-fieldset horizontal :label-cols="3">
                      <!--<b-form-input v-model="filterDevicedata" placeholder="Ngày bắt đầu"/>-->

                      <datepicker  v-model="startat_query" @input="getconsumed_power()" :format="'yyyy - MM - dd'">Ngày bắt đầu</datepicker>
                      <label>Ngày bắt đầu</label>
                    </b-form-fieldset>
                  </div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3">

                    <b-form-fieldset horizontal :label-cols="3">
                      <datepicker  v-model="endat_query" @input="getconsumed_power()" :format="'yyyy - MM - dd'">Ngày kết thúc</datepicker>
                      <label>Ngày kết thúc</label>
                    </b-form-fieldset>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                <div class="col-md-12 float-left table-consumed">
                  <table class="table table-group table-bordered ">
                    <thead>
                    <tr>
                      <td>STT</td>
                      <td>Tên thiết bị</td>
                      <td>Mã thiết bị</td>
                      <td>Công suất</td>
                      <td>Số giờ bật</td>
                      <td>Điện năng tiêu thụ dự kiến </td>
                    </tr>
                    </thead>
                    <tbody v-if="consumed_power_list.length>0">
                    <tr>
                      <td colspan="4">
                        <strong>Tổng</strong>
                      </td>
                      <td><strong>{{total_group_consumed_power.time_hour.toFixed(2)+' h'}}</strong></td>
                      <td><strong>{{total_group_consumed_power.group_consumedpower.toFixed(2) + ' W'}}</strong></td>
                    </tr>

                    <tr  v-for="(device,index) in consumed_power_list" :key="device._id">
                      <td>{{index + 1}}</td>
                      <td>{{device.name}}</td>
                      <td>{{device.hardwareid}}</td>
                      <td>{{device.consumer}}</td>
                      <td>{{device.totaltime_hour.toFixed(2)+' h'}}</td>
                      <td>{{device.consumedpower.toFixed(2)+' W'}}</td>

                    </tr>
                    </tbody>
                  </table>
                  <div class="row my-1">
                    <div class="col-md-12 text-md-right">
                    </div>
                  </div>
                </div>


              </div>
            </template>
          </div>
        </b-tab>

        <!--<b-tab title="Cảm biến">-->

          <!--<div class="col-md-6 float-left">-->
            <!--<h4>Cam bien 1</h4>-->
            <!--<vue-chart type="doughnut" :data="doughnutData" resize="true"></vue-chart>-->
          <!--</div>-->
          <!--<div class="col-md-6 float-right">-->
            <!--<h4>Cam bien 2</h4>-->
            <!--<vue-chart type="doughnut" :data="doughnutData" label="aa"></vue-chart>-->
          <!--</div>-->
        <!--</b-tab>-->
        <!--<b-tab title="Camera" class="view-camera">-->

          <!--<div class="col-md-6 float-left ">-->
            <!--<h4>Camera 1</h4>-->
            <!--<video muted="" loop="" autoplay>-->
              <!--<source src="http://symbiot4.creatingo.com/assets/videos/street.mp4" type="video/mp4">-->
              <!--<source src="http://symbiot4.creatingo.com/assets/videos/street.webm" type="video/webm">-->
            <!--</video>-->
          <!--</div>-->

          <!--<div class="col-md-6 float-right">-->
            <!--<h4>Camera 2</h4>-->
            <!--<video muted="" loop="" autoplay>-->
              <!--<source src="http://symbiot4.creatingo.com/assets/videos/room.mp4" type="video/mp4">-->
              <!--<source src="http://symbiot4.creatingo.com/assets/videos/room.webm" type="video/webm">-->
            <!--</video>-->
          <!--</div>-->
          <!--<div class="col-md-6 float-right">-->
            <!--<h4>Camera 4</h4>-->
            <!--<video muted="" loop="" autoplay>-->
              <!--<source src="http://symbiot4.creatingo.com/assets/videos/street.mp4" type="video/mp4">-->
              <!--<source src="http://symbiot4.creatingo.com/assets/videos/street.webm" type="video/webm">-->
            <!--</video>-->
          <!--</div>-->
          <!--<div class="col-md-6 float-right">-->
            <!--<h4>Camera 3</h4>-->
            <!--<video muted="" loop="" autoplay>-->
              <!--<source src="http://symbiot4.creatingo.com/assets/videos/room.mp4" type="video/mp4">-->
              <!--<source src="http://symbiot4.creatingo.com/assets/videos/room.webm" type="video/webm">-->
            <!--</video>-->
          <!--</div>-->

        <!--</b-tab>-->
      </b-tabs>
    </b-card>

    <b-modal id="editScheduleModal" ref="editScheduleModal" title="Cập nhật lịch điều khiển" @ok="updateschedule">
      <div class="form-group">
        <label>
          Tên lịch
        </label>
        <input class="form-control" v-model="editschedule.name" type="text" placeholder="Nhập tên lịch"/>
      </div>
      <div class="form-group">
        <label>
          Kiểu
        </label>
        <div class="">
          <select class="form-control col-md-5" v-model="editschedule.control" type="text" placeholder="Nhập enode">
            <option value="on">Bật</option>
            <option value="off">Tắt</option>

          </select>
        </div>
      </div>
      <div class="form-group">
        <label>
          Thời gian
        </label>
        <div style="overflow: hidden" class="formtime">
          <input class="form-control col-md-3 " v-model="editschedule.scheduletime.hour" type="number"
                 max="24" min="0"
                 placeholder="Giờ "/>
          <input class="form-control col-md-3 " v-model="editschedule.scheduletime.minute" type="number"
                 max="59" min="0"
                 placeholder="phút"/>
          <input class="form-control col-md-3 " v-model="editschedule.scheduletime.second" type="number"
                 max="59" min="0"
                 placeholder="giây"/>
        </div>
      </div>
      <div class="form-group">
        <label>
          Lặp lại
        </label>
        <div class="day-of-weed row" style="">
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="editdayofweek.t2" name="layout"
                   id="updatethu2" >
            <label for="updatethu2">2</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="editdayofweek.t3" name="layout"
                   id="updatethu3" >
            <label for="updatethu3">3</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="editdayofweek.t4" name="layout"
                   id="updatethu4" >
            <label for="updatethu4">4</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="editdayofweek.t5" name="layout"
                   id="updatethu5" >
            <label for="updatethu5">5</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="editdayofweek.t6" name="layout"
                   id="updatethu6" >
            <label for="updatethu6">6</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="editdayofweek.t7" name="layout"
                   id="updatethu7" @change="selectdevicefunc(device)">
            <label for="updatethu7">7</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="editdayofweek.t1" name="layout"
                   id="updatethucn" >
            <label for="updatethucn">CN</label>
          </div>


        </div>
      </div>
      <div slot="modal-footer" class="w-100">

        <b-btn class="float-right col-md-2" variant="default" aria-label="Close" @click="hideModal('editScheduleModal')"
               style="margin-left:20px ">
          Hủy
        </b-btn>
        <b-btn class="float-right col-md-2" variant="primary" slot="modal-cancel" @click="updateschedule()">
          Lưu
        </b-btn>
      </div>
    </b-modal>


    <b-modal id="addScheduleModal" ref="addScheduleModal" title="Tạo lịch điều khiển" >
      <div class="form-group">
        <label>
          Tên lịch
        </label>
        <input class="form-control" v-model="newschedule.name" type="text" placeholder="Nhập tên lịch"/>
      </div>
      <div class="form-group">
        <label>
          Kiểu
        </label>
        <div class="">
          <select class="form-control col-md-5" v-model="newschedule.control" type="text" placeholder="Nhập enode">
            <option value="on">Bật</option>
            <option value="off">Tắt</option>

          </select>
        </div>
      </div>
      <div class="form-group">
        <label>
          Thời gian
        </label>
        <div style="overflow: hidden" class="formtime">
          <input class="form-control col-md-3" v-model="newschedule.scheduletime.hour" type="number" max="24"
                 min="0"
                 placeholder="Giờ "/>
          <input class="form-control col-md-3" v-model="newschedule.scheduletime.minute" type="number"
                 max="59" min="0"
                 placeholder="phút"/>
          <input class="form-control col-md-3"  v-model="newschedule.scheduletime.second" type="number"
                 max="59" min="0"
                 placeholder="giây"/>
        </div>

      </div>
      <div class="form-group">
        <label>
          Lặp lại trong tuần
        </label>
        <div class="day-of-weed row" style="">
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="adddayofweek.t2" name="layout"
                   id="addthu2"  value="2">
            <label for="addthu2">2</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="adddayofweek.t3" name="layout"
                   id="addthu3"  value="3">
            <label for="addthu3">3</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="adddayofweek.t4" name="layout"
                   id="addthu4"  value="4">
            <label for="addthu4">4</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="adddayofweek.t5" name="layout"
                   id="addthu5" >
            <label for="addthu5">5</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="adddayofweek.t6" name="layout"
                   id="addthu6" >
            <label for="addthu6">6</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="adddayofweek.t7" name="layout"
                   id="addthu7" >
            <label for="addthu7">7</label>
          </div>
          <div class="col-sm-1">
            <input class="magic-checkbox" type="checkbox" v-model="adddayofweek.t1" name="layout"
                   id="addthucn" >
            <label for="addthucn">CN</label>
          </div>


        </div>
      </div>

      <div class="form-group">
        <label>
          Mô tả
        </label>
        <textarea class="form-control" v-model="newschedule.description" type="number" max="24" min="0"
                  placeholder="Mô tả "/>
      </div>

      <div slot="modal-footer" class="w-100">

        <b-btn class="float-right col-md-2" variant="default" aria-label="Close" @click="hideModal('addScheduleModal')"
               style="margin-left:20px ">
          Hủy
        </b-btn>
        <b-btn class="float-right col-md-2" variant="primary" slot="modal-cancel" @click="createschedule()">
          Thêm
        </b-btn>
      </div>

    </b-modal>

    <b-modal id="deleteScheduleModal" ref="deleteScheduleModal" title="Xác nhận" @ok="deleteschedule">
      <div class="form-group">
        <h6> Bạn có chắc muốn xóa nhóm này</h6>
      </div>

    </b-modal>
  </div>
</template>

<script>
  import BootstrapVue from 'bootstrap-vue'
  import Vue from 'vue'
  import Spinner from '@/components/common/Spinner'
  import RangeSlider from 'vue-range-slider'
  import Datepicker from 'vuejs-datepicker';

  // you probably need to import built-in style
  import 'vue-range-slider/dist/vue-range-slider.css'
  //import Boostrap from 'bootstrap'


  //import VueSocketio from 'vue-socket.io';
  //  import io from 'socket.io-client';

  let listcontrolglobal = [];
  let socket = {};
  //  Vue.use(VueSocketio, socketio('http://api.sensormanager.smartthingstoday.com'),
  //    {
  //      'query': 'token=' + this.$store.state.auth.accessToken
  //    });


  export default {
    name: 'detailcontrol',
    components: {
      Spinner, RangeSlider,
      Datepicker
    },


    data() {
      return {
        addressInfo: {
          addressLine1: '',
          addressLine2: '',
          email: '',
          state: '',
          country: '',
          zipcode: '',

        },
        sliderGroupValue: 0,
        sliderDeviceValue: 0,
        friends: '',
        isLoadingFriends: false,
        error: '',
        currentPage: 1,
        perPage: 20,
        totalRows: 0,
        pageOptions: [{text: 20, value: 20}, {text: 50, value: 50}, {text: 100, value: 100}],
        pageOptionsDevice: [{text: 20, value: 20}, {text: 50, value: 50}, {text: 100, value: 100}],
        sortBy: null,
        sortDesc: false,
        filterGroupdata: '',
        filterDevicedata: '',
        modalDetails: {index: '', data: {}},
        doughnutData: {
          labels: [
            'Temp',
            'Humi',
            'Light'
          ],
          datasets: [{
            data: [60, 20, 30],
            backgroundColor: [
              '#ff6384',
              '#36a2eb',
              '#ff9933',
            ],
            label: 'Cam bien 1',
          }],

        },
        urlimagegroup: require('@/assets/images/lightoff.png'),
        urlimagedevice: require('@/assets/images/lightoff.png'),
        controlgroup: [],
        controldevice: [],
        listschedule: [],
        selectgroup: {},
        listselectgroup: [],
        selectdevice: {},
        listselectdevice: [],
        maxValueSlider: 1000,
        checkallgroup: false,
        editschedule: {scheduletime: {}},
        newschedule: {scheduletime: {}, control: "on"},
        adddayofweek: {},
        editdayofweek: {},
        consumed_power_list: [],
        total_group_consumed_power: {},
        startat_query: (new Date()).setTime(new Date().getTime() - (86400000 * 7)),
        endat_query: new Date()
      }
    },
    created(){
      this.getlistdevice()
      this.connectsocketio(),
        this.getinitdataschedule(),
        this.getconsumed_power()
    },

    computed: {
      reversedSearchText: function () {
        return this.$store.state.appnav.searchText.split('').reverse().join('')
      }
    },
    beforeUpdate() {
       // Logs the counter value every second, before the DOM updates.
    },

    mounted() {
      this.$store.watch((state) => {
        return state.appnav
      }, (appnav) => {
        // Add some behavior here
        this.$dialog.alert('Now you need to make a component to display search results!')
      }, {
        deep: true
      })

    },
    beforeMount() {

    },

    methods: {
      hideModal(modalname) {
        switch (modalname) {
          case 'addScheduleModal':
            this.$refs.addScheduleModal.hide()
            break;
          case 'editScheduleModal':
            this.$refs.editScheduleModal.hide()
            break;
          default:
            break;

        }
      },

      connectsocketio() {
        var selt = this;
//        socket = io('http://localhost:8002', {//http://smartthingstoday.com:8002', {
//          'query': 'token=' + this.$store.state.auth.accessToken
//        });
//        socket = io()
//        socket.on('control', function (data) {
//            console.log(data);
//          try {
//            if (data.code && data.code == "SUCCESS") {
//              selt.onGroupFiltered(data);
//            }
//          }
//          catch (err) {
//            console.log(err);
//          }
//
//        })

      },
      getFriends() {
        this.isLoadingFriends = true

        this.$http
          .get('/api/resource')
          .then((response) => {
            this.isLoadingFriends = false
            this.friends = JSON.stringify(response.data.friends)
          })
          .catch((response) => {
            this.isLoadingFriends = false
            this.error = utils.getError(response)
          })
      },
      details(item, index, button) {
        this.modalDetails.data = item;
        this.modalDetails.index = index + 1;
        this.$refs.detailModalgroup.show();
        //this.$refs.detailModal.show();
      },
      resetModal() {
        this.modalDetails.data = '';
        this.modalDetails.index = '';
      },

      onPath(string, type) {
        if (type == 'group') {
          this.urlimagegroup = require('@/assets/images/light' + string + '.png')
        }
        else if (type == 'device') {
          this.urlimagedevice = require('@/assets/images/light' + string + '.png')
        }

        else {
        }
      },
      getinitdatacontrol() {

        this.$http
          .get('/api/group/getalllistgroupfordevice')
          .then((response) => {
            if (response.status == 200) {
              this.controlgroup = response.data;
              listcontrolglobal = this.controlgroup;
            }
          })
          .catch((response) => {
          })

      },
      getinitdataschedule() {

        this.$http
          .get('/api/schedules/getlistschedulebyparent?page=1&per_page=100&query=&groupid=' + this.$route.params.id)
          .then((response) => {
            if (response.status == 200) {
              this.listschedule = response.data.item;
              this.listschedule.forEach((job, index, arr) => {
                job.listdayofweek = job.scheduletime.dayofweek.split(",");
              })
            }

            
          }, err => {
            this.$dialog.alert('Tải dữ liệu lịch điều khiển thất bại , vui lòng thử lại sau');
          })
          .catch((response) => {
          })

      },
      selectdevicefunc(item) {
        this.selectdevice = Object.assign({}, item);
        if (item.check == true) {
          this.listselectdevice.push(this.selectdevice);
        } else {
          var index = this.listselectdevice.findIndex(i => i.group._id === item.group._id);
          this.listselectdevice.splice(index, 1);
        }


        if (this.listselectdevice.length == 0) {

          this.onPath('off', 'device');
        } else {

          var checktiem = true;
          this.listselectdevice.forEach((device, index, arr) => {
            if (device.state == false) {
              checktiem = false;
            }
          });
          if (checktiem) {
            this.onPath('on', 'device');
          } else {
            this.onPath('off', 'device');
          }
        }
      },
      selectgroupfunc(item, type) {
        if (type) {
          this.listselectgroup = []
          if (this.checkallgroup) {
            this.controlgroup.forEach((group, index, arr) => {
              group.check = true;
              this.listselectgroup.push(group.hardwareid);
            });
            return;
          } else {
            this.controlgroup.forEach((group, index, arr) => {
              group.check = false;
              //this.listselectgroup.push(group.hardwareid);
            });
            return;
          }
        }
        this.selectgroup = Object.assign({}, item);
        if (item.check == true) {
          this.listselectgroup.push(this.selectgroup);
        } else {
          var index = this.listselectgroup.findIndex(i => i.group._id === item.group._id);
          this.listselectgroup.splice(index, 1);
        }


        if (this.listselectgroup.length == 0) {

          this.onPath('off', 'group');
        } else {

          var checktiem = true;
          this.listselectgroup.forEach((group, index, arr) => {
            if (group.counton == 0) {
              checktiem = false;
            }
          });
          if (checktiem) {
            this.onPath('on', 'group');
          } else {
            this.onPath('off', 'group');
          }
        }
      },
      sendgroupcontrol() {
        let newcontrol = {
          value: this.sliderGroupValue,
          state: false,
          listid: [],
          datetime: new Date()
        }
        this.listselectgroup.forEach((group, index, arr) => {

          var object = {
            groupid: group.enode,
            listdeviceid: []
          }
          group.devices.forEach((device, indexdevice, arrdevice) => {
            object.listdeviceid.push(device.hardwareid);
          });
          newcontrol.listid.push(object)
        });
        if (newcontrol.listid.length == 0) {
          this.$dialog.alert('Vui lòng chọn nhóm thiết bị muốn điều khiển');
          return false;
        }
        this.$http
          .post('/api/control/sendcontrolmethod', newcontrol)
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {

              this.$dialog.alert('điều khiển nhóm thiết bị thành công ');
              this.listselectgroup[null];

            } else {
              this.$dialog.alert('Thêm nhóm thiết bị thất bại ')
            }
            
          })
          .catch((response) => {

          })

      },
      senddevicecontrol(hardwareid,state,event) {
        event.target.disabled=true;
        setTimeout(()=>{event.target.disabled=false;},5000)
        var sendid = hardwareid.toString().match(/\d/g);
        sendid = sendid.join("");
        let newcontrol = {
          ID: this.selectgroup.enode,
          Out:[sendid],
          Status:state?1:0
        };


        var sendnewcontrol = JSON.stringify(newcontrol);

        this.$http
          .post('/api/control/sendcontrolmethod', sendnewcontrol)
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {

              //this.$dialog.alert('điều khiển nhóm thiết bị thành công ');
              this.listselectgroup[null];

            } else {
              this.$dialog.alert('Điều khiển nhóm thiết bị thất bại ')
            }
            
          })
          .catch((response) => {

          })


      },
//      onGroupFiltered(data) {
//
//        if (data) {
//          var index = this.controlgroup.findIndex(i => i._id === data.item.group[0]._id);
//          //this.controlgroup[index].counton=data.item.group[0].counton;
//
//          this.controlgroup.splice(index, 1, data.item.group[0]);
//
//          //this.controlgroup[index]=data.item.group[0];
//        }
//
//        // Trigger pagination to update the number of buttons/pages due to filtering
//        if (this.filterGroupdata != '') {
//          return this.controlgroup.filter((group) => {
//            return group.name.includes(this.filterGroupdata) || group.enode.includes(this.filterGroupdata)
//          })
//        } else {
//          return this.controlgroup;
//        }
//      },
      onDeviceFiltered() {
        // Trigger pagination to update the number of buttons/pages due to filtering
        if (this.filterDevicedata != '') {
          return this.controldevice.filter((device) => {
            return device.name.includes(this.filterDevicedata) || device.controlid.includes(this.filterDevicedata) || device.hardwareid.includes(this.filterDevicedata)
          })
        } else {
          return this.controldevice;
        }
      },
      onScheduleFiltered() {
        // Trigger pagination to update the number of buttons/pages due to filtering
//        if (this.filterDevicedata != '') {
//          return this.listschedule.filter((schedule) => {
//            return schedule.name.includes(this.filterDevicedata) || schedule.controlid.includes(this.filterDevicedata) || schedule.hardwareid.includes(this.filterDevicedata)
//          })
//        } else {
        return this.listschedule;
        //}
      },

      getlistdevice() {

        this.$http
          .get('/api/device/getlistDevicebyGroup?_id=' + this.$route.params.id)
          .then((response) => {
            if (response.status = 200) {
              this.controldevice = response.data.item;
              this.selectgroup = response.data.meta;
              this.controldevice.sort((a,b)=>{
                return a.hardwareid - b.hardwareid;
              })
            }
            
          }, err => {
            this.$dialog.alert('Tải dữ liệu danh sách thiết bị thất bại , vui lòng thử lại sau');
          })
          .catch((response) => {
          })
      },

      getconsumed_power() {
          console.log(this.startat_query);
        let startat = this.ConvertDate(this.startat_query);
        let endat = this.ConvertDate(this.endat_query)

        //this.consumed_power_list=[];
        //this.total_group_consumed_power={};
        this.$http
          .get('/api/power/getconsumedpower_bygroup?groupid=' + this.$route.params.id + '&startat=' + startat + '&endat=' + endat)
          .then((response) => {
            if (response.status = 200) {
              this.consumed_power_list = response.data.item ? response.data.item.devices:[];
              this.total_group_consumed_power = response.data.item?response.data.item:{};

              this.consumed_power_list.sort((a , b)=>{
                 return a.hardwareid - b.hardwareid
              })
            }
            
          }, err => {
            this.$dialog.alert('Tải dữ liệu tiêu thụ điện thất bại ');
          })
          .catch((response) => {
          })
      },

      openupdateschedule(schedule) {
        this.editdayofweek = {};
        this.editschedule = Object.assign({}, schedule);

        for (var i = 0; i < this.editschedule.listdayofweek.length; i++) {
          let dayconvert = parseInt(this.editschedule.listdayofweek[i]) + 1
          this.editdayofweek['t' + dayconvert] = true;
        }
//        this.editschedule.listdayofweek.forEach((day,index,arr)=>{
//
//        })
        this.$refs.editScheduleModal.show();

      },
      opencreateschedule() {
        this.adddayofweek = {};
        this.$refs.addScheduleModal.show();
      },
      opendeleteschedule(group) {
        this.editschedule = Object.assign({}, group);
        this.$refs.deleteScheduleModal.show();
      },

      //schedule method
      updateschedule(){


        this.editschedule.scheduletime.dayofweek = "";
        let listconvertweek = [];
        for (var day in this.editdayofweek) {
          if (this.editdayofweek[day] == true) {

            try {
              listconvertweek.push(parseInt(day.substring(1, 2).toString()))
            } catch (err) {

            }
          }
        }
        ;
        listconvertweek.forEach((dayset, index, arr) => {
          if (index == 0) {
            this.editschedule.scheduletime.dayofweek += (dayset - 1).toString();
          } else {
            this.editschedule.scheduletime.dayofweek += ',' + (dayset - 1).toString();
          }
        })
        this.editschedule.group = this.$route.params.id;
        this.editschedule.iscurrent = true;
        if (!this.editschedule.name) {
          this.$dialog.alert('Vui lòng nhập tên nhóm');
          return;
        } else if (this.editschedule.control == "") {
          this.$dialog.alert('Vui lòng chọn dạng điều khiển');
          return;
        }
        else if (!this.editschedule.scheduletime.hour || this.editschedule.scheduletime.hour > 23 || this.editschedule.scheduletime.hour < 0) {

          this.$dialog.alert('Vui lòng nhập giờ điều khiển là số dương và nhỏ hơn 24');
          return;
        }
        else if (!this.editschedule.scheduletime.minute || this.editschedule.scheduletime.minute > 59 || this.editschedule.scheduletime.minute < 0) {
          this.$dialog.alert('Vui lòng nhập phút điều khiển là số dương và nhỏ hơn 60');
          return;
        }
        else if (!this.editschedule.scheduletime.second || this.editschedule.scheduletime.second > 59 || this.editschedule.scheduletime.second < 0) {
          this.$dialog.alert('Vui lòng nhập giây điều khiển là số dương và nhỏ hơn 60');
          return;
        }
        else if (this.editschedule.scheduletime.dayofweek == "") {
          this.$dialog.alert('Vui lòng chọn ít nhất một ngày điều khiển');
          return;
        }



        else {
          this.editschedule.type="GROUP"
          console.log(this.editschedule.scheduletime);
          this.$http
            .put('/api/schedules/updateschedule', this.editschedule)
            .then((response) => {
              if (response.status == 200 && response.body.code == "SUCCESS") {
                this.$refs.editScheduleModal.hide();
                this.$dialog.alert('Cập nhật lịch điều khiển thành công ');
                this.getinitdataschedule();
                this.editschedule = {scheduletime: {}};

              } else {
                this.$dialog.alert('Cập nhật lịch điều khiển thất bại ')
              }
              
            })
            .catch((response) => {

            })
        }
      },

      createschedule() {

        this.newschedule.scheduletime.dayofweek = "";
        let listconvertweek = [];
        for (var day in this.adddayofweek) {
          if (this.adddayofweek[day] == true) {

            try {
              listconvertweek.push(parseInt(day.substring(1, 2).toString()))
            } catch (err) {

            }
          }
        }
        ;
        listconvertweek.forEach((dayset, index, arr) => {
          if (index == 0) {
            this.newschedule.scheduletime.dayofweek += (dayset - 1).toString();
          } else {
            this.newschedule.scheduletime.dayofweek += ',' + (dayset - 1).toString();
          }
        })
        console.log(this.newschedule)
        this.newschedule.group = this.$route.params.id;
        this.newschedule.iscurrent = true;
        if (!this.newschedule.name) {
          this.$dialog.alert('Vui lòng nhập tên nhóm');
          return;
        }
        else if (this.newschedule.control == "") {
          this.$dialog.alert('Vui lòng chọn dạng điều khiển');
          return;
        }
        else if (!this.newschedule.scheduletime.hour || this.newschedule.scheduletime.hour > 23 || this.newschedule.scheduletime.hour < 0) {

          this.$dialog.alert('Vui lòng nhập giờ điều khiển là số dương và nhỏ hơn 24');
          return;
        }
        else if (!this.newschedule.scheduletime.minute || this.newschedule.scheduletime.minute > 59 || this.newschedule.scheduletime.minute < 0) {
          this.$dialog.alert('Vui lòng nhập phút điều khiển là số dương và nhỏ hơn 60');
          return;
        }
        else if (!this.newschedule.scheduletime.second || this.newschedule.scheduletime.second > 59 || this.newschedule.scheduletime.second < 0) {
          this.$dialog.alert('Vui lòng nhập giây điều khiển là số dương và nhỏ hơn 60');
          return;
        }
        else if (this.newschedule.scheduletime.dayofweek == "") {
          this.$dialog.alert('Vui lòng chọn ít nhất một ngày điều khiển');
          return;
        }
//        else if (this.scheduletime. = "") {
//          this.$dialog.alert('Vui lòng chọn dạng điều khiển');
//          return;
//        }
        else {
          this.newschedule.type="GROUP";
          this.$http
            .post('/api/schedules/createschedule', this.newschedule)
            .then((response) => {

              if (response.status == 200 && response.body.code == "SUCCESS") {
                this.$refs.addScheduleModal.hide();
                this.$dialog.alert('Thêm lịch điều khiển thành công ');
                this.newschedule = {scheduletime: {}, control: "on"};
                setTimeout(this.getinitdataschedule(), 500);

              } else {
                this.$refs.addScheduleModal.show();
                this.$dialog.alert('Thêm lịch điều khiển thất bại ')
              }
              
            }, (err) => {
              this.$refs.deleteScheduleModal.show();
              this.$dialog.alert('Lập lịch thất bại , vui lòng báo kiểm tra server')
            })
            .catch((response) => {

            })
        }
      },
      deleteschedule(evt) {
        evt.preventDefault();
        this.$http
          .delete('/api/schedules/deleteschedule/' + this.editschedule._id)
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {
              this.$refs.deleteScheduleModal.hide();
              this.$dialog.alert('Xóa nhóm thiết bị thành công ');
              setTimeout(this.getinitdataschedule(), 500);
              this.editschedule = {scheduletime: {}};
            } else {
              this.$dialog.alert('Xóa nhóm thiết bị thất bại ')
            }
            
          }, err => {
            this.$dialog.alert('Xóa nhóm thiết bị thất bại ')
          })
          .catch((response) => {

          })
      },

      UpdateIsCurrentSchedule(schedule){

        let api = schedule.iscurrent ? 'startschedule' : 'stopschedule';
        this.$http
          .post('/api/schedules/' + api, {jobid: schedule._id})
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {
              //this.$dialog.alert('điều khiển nhóm thiết bị thành công ');
              //this.listselectgroup[null];

            } else {
              this.$dialog.alert('Điều khiển thất bại');
              schedule.iscurrent = !schedule.iscurrent;
            }
            
          }, err => {
            schedule.iscurrent = !schedule.iscurrent;
            this.$dialog.alert('Không kết nối được với máy chủ , vui lòng thông báo cho kỹ thuật và thử lại sau');
          })
          .catch((response) => {

          })

      },

      ConvertDate(date){
        let curentDate = new Date(date);
        let year = curentDate.getFullYear().toString();
        let month = (curentDate.getMonth() + 1) < 10 ? '0' + (curentDate.getMonth() + 1).toString() : (curentDate.getMonth() + 1).toString();
        let cur_date = curentDate.getDate()  < 10 ? '0' + curentDate.getDate().toString() : curentDate.getDate().toString();

        return year + '-' + month + '-' + cur_date;

      },
      DateFormatter(date) {
        return moment(date).format('dd MMM yyyy');
      }


    }

  }
</script>

<style lang="scss">
</style>
