.view-detailgroup .view-camera video{
  width: 100%;
  height: 100%;
}
.view-camera {
  max-height: 300px;
}
.table-schedule thead td{
  text-align: center;
}
.table-schedule thead td:nth-child(2){
  text-align: left;
}
.table-schedule tbody tr td{
  text-align: center;
}
.table-schedule tbody tr td:nth-child(2){
  text-align: left;
}
.day-of-weed .col-sm-1{
  margin-right: 25px;
}

/* .view-detailgroup div.switch{
  top:0;
  right: 0%;
  margin: 1%;
} */

.table-consumed{
  min-height: 400px;
}

.card {
  background: #151f37
}