<template>
  <div id="app">
    
    <div class="container app-content" v-bind:class="(menu_collapsed ?'menu_collapsed':'menu_not_collapsed')">
      <router-view></router-view>
    </div>

    <app-nav :onCollapsed="onMenuCollapsed"></app-nav>
    <!-- <app-footer></app-footer> -->
  </div>

</template>

<script>
  import Raphael from 'raphael/raphael'
  global.Raphael = Raphael
  import BootstrapVue from 'bootstrap-vue'
  /* ...there may be other imports here */
  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'
  import AppNav from './AppNav.vue'
  import AppFooter from './AppFooter.vue'
  import Vue from 'vue'
  import VuejsDialog from "vuejs-dialog"
  import { library } from '@fortawesome/fontawesome-svg-core'
  import { faCoffee } from '@fortawesome/free-solid-svg-icons'
  import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
  //import VueSocketio from 'vue-socket.io';
  library.add(faCoffee)

  Vue.component('font-awesome-icon', FontAwesomeIcon)
  Vue.config.productionTip = false
  Vue.use(VuejsDialog);


  export default {
    name: 'app',
    components: {AppNav, AppFooter},

    data () {
      return {
        menu_collapsed:false
      }
    },
    created(){
    },

    beforCreate(){

    },

    mounted () {
    // this.chartData is created in the mixin.
    // If you want to pass options please create a local options object
    },
    methods:{
      onMenuCollapsed(e){
        this.menu_collapsed = e
      }
    }
  }
</script>

<style lang="scss">
  html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

  .app-content {
    padding: 5px 15px 15px 0px;
  }

  #app .menu_not_collapsed{
    padding-left: 130px
  }
  #app .menu_collapsed{
    padding-left: 10px
  }
</style>
