<style scoped>
  .ev-appnav__logo {
  width: 40px;
}
.ev-appnav__search {
  margin-right: 10px;
}
.ev-appnav__logout {
  margin-top: 1px;
}

.v-sidebar-menu .vsm-link {
  font-size: 10px !important
}
.v-sidebar-menu {
  background-color: #30323f !important;
}
</style>
<template>
<!-- Fixed navbar -->
<sidebar-menu v-if="auth.isLoggedIn" :menu="menuLogin" @collapse="onCollapsed"  @itemClick="onItemClick" width="170px" />
<sidebar-menu v-else :menu="menuNotLogin" :collapsed="true"  @itemClick="onItemClick" width="170px" />

</template>

<script>
import Auth from '@/auth'
import Vue from 'vue'
import VueSidebarMenu from 'vue-sidebar-menu'
import "vue-sidebar-menu/src/scss/vue-sidebar-menu.scss";
import { mapState } from 'vuex';
Vue.use(VueSidebarMenu)
export default {
  name:'nhanpt',
  props: {
    onCollapsed: {
        type: Function
    },
    onCheckEmail:{
      type:Boolean
    }
  },
  data () {
    return {
      searchText: '',
      searchFlag: '',
      timeserver: {},
      
      menuLogin:[],
      menuNotLogin:[
                    {
                      href: '/login',
                      title: 'Login',
                      icon: 'fa .fa-user',
                        
                    },
                  ]

    }
  },
  computed: mapState(['user','auth']
  ),

  watch:{
    auth:(newValue)=>{
      console.log('vao watch')
    }
  },

  beforeCreate(){
    this.$http
      .get('/api/gettime')
      .then((response) => {
          this.timeserver=new Date(response.data.item);
      })
      .catch((response) => {
      });
    setInterval(()=>{
      this.timeserver=new Date(this.timeserver.getTime()+1000)
    },1000);
  },
  created(){
    this.getMenuData();
    
  },
  beforeUpdate(){
    this.getMenuData();
  },
  

  methods: {
    getMenuData(){
      const user = this.$store.state.user;
      if(!user.userinfo){
        return []
      }
      let configChil = [{ href: '/userInfo', title: 'Your Info' }];
      if(user.userinfo.admin === true || user.role === "Manager")
      {
        configChil= [{ href: '/device', title: 'Setting Device' },
                          { href: '/group', title: 'Setting Group' },{ href: '/scription', title: 'Setting Scription'},
                          { href: '/user', title: 'Setting User'}].concat(configChil)
      }
      const listMenu = [{
                        header: true,
                        title: 'Main Navigation'
                    },
                    {
                        href: '/dashboard',
                        title: 'Setting',
                        icon: 'fa fa-cog',
                        //disabled: (!this.$store.state.user.userinfo.admin && !this.$store.state.user.role === "Manager"),
                        child: configChil
                    },
                    {
                      href: '/control_group',
                      title: 'Control Group',
                      icon: 'fa fa-joomla',
                        
                    },
                    {
                      href: '/control_scription',
                      title: 'Control Scription',
                      icon: 'fa fa-sort-amount-asc',
                        
                    },
                    {
                      href: '/logout',
                      title: 'Logout',
                      icon: 'fa fa-sign-out',
                      
                    }
                    ]
    this.menuLogin = listMenu;
  },

    logout () {
      Auth.logout();
      this.getMenuData();
    },
    submitSearch () {
      this.$store.commit(
        'APPNAV_SEARCH',
        {
          searchText: this.searchText,
          searchTimestamp: Date.now()
        }
      )
    },
    onItemClick(event, item){
      switch (item.href){
        case '/logout':
          this.logout();
          break;
        default:
          break;
      }
    },
    ConvertDate() {
      try{
      let hour;
      let curentDate = new Date(this.timeserver);
      hour= curentDate.getHours().toString();
      let minute = curentDate.getMinutes()  < 10 ? '0' + curentDate.getMinutes().toString() : curentDate.getMinutes().toString();
      let second = curentDate.getSeconds() < 10 ? '0' + curentDate.getSeconds().toString() :curentDate.getSeconds().toString();
      return hour + ':' + minute + ':' + second;
      }catch (err){
        return '00:00:00'
      }
    },
    
  },


}
</script>

<style lang="scss" scoped>
/*
  You can use BEM style even though you are scoped. Helps to reason about
  your styles.
*/
</style>
