<template>
  <div class="col-md-12 script-group" rows="2" style="">
    <i class="fa fa-window-minimize" @click="minut(index)"></i>
    <div class="card" style="">
      <div class="card-body">
        <h5 style="text-align: center; padding-top: 20px" class="card-title">Nhóm điều khiển</h5>
        <div class="form-group col-md-6 float-left">
          <label>Dạng nhóm</label>
          <select v-model="data.type" class="form-control " @change="getlistgroupbytype(data.type)">
            <option value="-1">
              Chọn dạng
            </option>
            <option value="LORA">
              Lora
            </option>
            <option value="RF">
              RF
            </option>

          </select>
        </div>

        <div class="form-group col-md-6 float-right">
          <label>Chọn nhóm</label>
          <select class="form-control " @change="selectgroupclick($event.target.value)">
            <option value="-1">
              Chọn nhóm
            </option>
            <option v-for="group in listgroup" :key="group._id" :value="group._id">
              {{group.name}}
            </option>

          </select>
        </div>
        <div class="col-md-12 form-group" style="overflow: hidden" v-if="selectgroup && selectgroup.devices">
          <div class="col-sm-2" v-for="device in selectgroup.devices" :key="device._id"
               style="float: left;margin-right: 15px">
            <input class="magic-checkbox" v-model="device.check" type="checkbox" name="layout"
                   :id="device._id" @change="checkdeviceclick(device.check,device)">
            <label :for="device._id">{{device.name}}</label>
          </div>
        </div>

      </div>
    </div>
    <!--<p>{{data.name}}</p>-->
    <!--<input type="text" v-model="data.data">-->
    <!--<button @click="updateValue()">-->
    <!--nhanpt-->
    <!--</button>-->


  </div>


</template>

<script>


  export default {
    name: 'itemGroup',
    components: {},

    /**
     * Props the parent can use to manipulate this component.
     * Note: Components themselves should not mutate their own props.
     */
    props: {
      'data': {type: Object},
      'datetest': {type: Function},
      'index': {type: Number},
      /**
       * Modal visibility
       *
       * The parent can use this to ontrol visibility. Note, the parent can also use `vi-if` to
       * ontrol the life-cyle of the modal (it will be created/destroyed each time).
       */
      'visible': {
        type: Boolean
      }
    },

    data() {
      return {

        /**
         * @var{Object} address The address input data the form will submit to the server.
         */
        address: {
          addressLine1: '',
          addressLine2: '',
          state: '',
          country: '',
          zipcode: ''
        },
        listgroup: [],
        selectgroup: {},


        /**
         * @var{boolean} isSaving Flag to designate whether the form is currently
         *    in the process of being saved.
         *
         */
        isSaving: false,
        error: '',
        listdevice: []
        //listdevice:['ab','as','nh']
      }
    },

    watch: {

      /**
       * Watch for changes on the visible prop.
       *
       * @param {boolean} val The new visibility value.
       * @param {boolean} oldVal The old visibility value.
       * @return {void}
       */
      data: function (val, oldVal) {
        this.listgroup=[];
        this.listdevice=[];
        this.selectgroup={};
      }
    },

    /**
     * When component is mounted.
     */
    mounted() {

    },

    methods: {
      updateValue(){
        this.$emit('pushdata');
      },
      minut(index){
        console.log(index + 'a');
        this.$emit('minutGroup', index);

      },
      getlistgroupbytype(type){
        this.$http
          .get('/api/group/getlistgroupbytype?type=' + type)
          .then((response) => {
            if (response.status == 200) {
              this.listgroup = response.data.item;
            }

            
          })
          .catch((response) => {
            //console.log(response);
//            this.isSaving = false
//            utils.handleError(this, response)
          })
      },
      selectgroupclick(_id){

        this.selectgroup = this.listgroup.filter((grs) => {
          return grs._id == _id
        })[0];

        this.data.groupid = this.selectgroup._id;
        this.data.enode = this.selectgroup.enode;
        this.data.name = this.selectgroup.name;
        this.data.devices = [];
      },
      checkdeviceclick(value, device){
        if (value) {
          this.data.devices.push({
            deviceid: device._id,
            name:device.name,
            hardwareid:device.hardwareid
          });
        }
        else {
          let checkdevice = this.data.devices.indexOf(_id);
          this.data.devices.splice(checkdevice, 1);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
