<style scoped="">
  @import "dashbroad.css";
</style>
<template>
  <div class="ev-dashboard view-dashboard">
    <div class=" state-overview col-md-12">
    <div class="col-md-6 float-left" style="min-height: 400px">
      <section class="panel">
        <div class="symbol terques" style="margin: auto;" v-on:click="redirectlink('device')">
          <i class="bigicon fa fa-lightbulb-o" data-original-title="" title=""></i>
          <div class="value">
            <h1 class="count">{{devicecount}}</h1>
            <h5>Thiết bị</h5>
          </div>
        </div>

      </section>
    </div>
    <div class="col-md-6 float-right" style="min-height: 400px">
      <section class="panel">
        <div class="symbol red" style="margin: auto;" v-on:click="redirectlink('group')">
          <i class="fa fa-joomla" data-original-title="" title=""></i>
          <div class="value">
            <h1 class=" count2">{{groupcount}}</h1>
            <h5>Nhóm</h5>
          </div>
        </div>

      </section>
    </div>

      <div class="col-md-6 float-left" style="min-height: 400px">
        <section class="panel">
          <div class="symbol" style="margin: auto;background: #0066ff" v-on:click="redirectlink('scription')">
            <i class="fa fa-sort-amount-asc" data-original-title="" title=""></i>
            <div class="value">
              <h1 class=" count2">{{scriptioncount}}</h1>
              <h5>Kịch bản</h5>
            </div>
          </div>

        </section>
      </div>

      <div class="col-md-6 float-left" style="min-height: 400px">
        <section class="panel">
          <div class="symbol" style="margin: auto;background: #e6b800" v-on:click="redirectlink('user')">
            <i class="fa fa-users" data-original-title="" title=""></i>
            <div class="value">
              <h1 class=" count2">{{usercount}}</h1>
              <h5>Người dùng</h5>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'

  export default {
    name: 'dashboard',
    components: {},

    data() {
      return {
        addressInfo: {},
        groupcount:0,
        devicecount:0,
        scriptioncount:0,
        usercount:13
      }
    },

    computed: {
      reversedSearchText: function () {
        return this.$store.state.appnav.searchText.split('').reverse().join('')
      }
    },

    mounted() {
      this.$store.watch((state) => {
        return state.appnav
      }, (appnav) => {
        // Add some behavior here
        this.$dialog.alert('Now you need to make a component to display search results!')
      }, {
        deep: true
      }),
        this.getdashboardinfo()
    },

    methods: {
      redirectlink(link) {
        this.$router.push(link)
        console.log()
      },
      getdashboardinfo(){
        this.$http
          .get('/api/dashboard/getdashboardinfo')
          .then((response) => {
            if (response.status==200){
            this.groupcount = response.data.item.countgroup;
            this.devicecount = response.data.item.countdevice;
            this.scriptioncount= response.data.item.countscript;
            }
          })
          .catch((response) => {
            //console.log(response);
//            this.isSaving = false
//            utils.handleError(this, response)
          })
      }
    }
  }
</script>

<style lang="scss">

</style>
