.view-dashboard .state-overview .symbol i {
  color: #fff;
  font-size: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-border: 2px dotted #fff;
  -moz-border: 2px dotted #fff;
  -ms-border: 2px dotted #fff;
  -o-border: 2px dotted #fff;
  border: 2px dotted #fff;
  width: 85px;
  height: 85px;
  padding-top: 17px;
}
.view-dashboard .state-overview .red {
  background: #e74c3c;
}


.view-dashboard .state-overview .symbol {
  width: 60%;
  padding: 25px 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}

.view-dashboard .state-overview .symbol, .state-overview .value {
  text-align: center;
}
.view-dashboard .state-overview .value{
  padding-top: 10px;
  color: #fff;
}
.view-dashboard .state-overview .terques {
  background: #1abc9c;
}
.view-dashboard .table-group td,.table-group th{
  padding: 10px 10px 5px 10px !important;
}

.view-dashboard .panel{
  width: inherit;
/* transform: translateY(-50%); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#addScriptionModal div.modal-dialog{
  min-width: 800px;
}
.script-group .fa-window-minimize{
  position: absolute;
  top: 0;
  right: 28px;
  z-index: 1;
}
.script-td label{
  background: #808080;
  color: #e6e6e6;
  font-weight: bold;
  margin-right: 10px;
  padding: 2px 5px;
  border-radius: 5px;
}

#infoscriptModal .card {
  margin-top: 20px;
}

