<template>


  <div class="ev-dashboard">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <router-link to="dashboard"> Cài đặt</router-link>
      </li>
      <li class="breadcrumb-item active">Thiết bị</li>
    </ol>
    <div class="content">

      <template>
        <div>
          <button class="btn btn-primary" @click="opencreatedevice"> Thêm thiết bị</button>
        </div>
        <div class="my-1 row">
          <div class="col-md-6">
            <b-form-fieldset horizontal label="Số bản ghi" :label-cols="6">
              <b-form-select :options="pageOptions" v-model="perPage"/>
            </b-form-fieldset>
          </div>
          <div class="col-md-3" id="view-filter-group">
            <label>Nhóm</label>
            <select v-model="query.group" @change="queryChange" class="form-control">
              <option value="-1" selected>Tất cả</option>
              <option v-for="listgroup in listgroups" v-bind:key="listgroup._id" v-bind:value="listgroup._id">{{listgroup.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Tìm kiếm thiết bị</label>
            <input v-model="query.title" class="form-control" placeholder="Tìm kiếm tên thiết bị"/>

          </div>
        </div>


        <!-- Main table element -->
        <b-table hover bordered
                 :items="listdevices"
                 :fields="fields"
                 :filter="filter.title"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 @filtered="onFiltered"
        >
          <template slot="index" slot-scope="data">
            {{(perPage * (currentPage - 1)) + data.index + 1}}
          </template>
          <template slot="name" slot-scope="row">{{row.value}}</template>
          <template slot="consumer" slot-scope="row">{{row.value}} W</template>

          <template slot="actions">
            <!-- We use click.stop here to prevent a 'row-clicked' event from also happening -->
            <!--<b-btn size="sm" @click.stop="details(row.item,row.index,$event.target)">Details</b-btn>-->
          </template>
          <template slot="action" slot-scope="row">
            <!-- We use click.stop here to prevent a 'row-clicked' event from also happening -->
            <i class="fa fa-edit" @click="openupdatedevice(row.item)" title="Chỉnh sửa"></i>
            <i class="fa fa-remove" @click="opendeletedevice(row.item)" title="Xóa"></i>
            <!--<b-btn size="sm" @click.stop="details(row.item,row.index,$event.target)">Details</b-btn>-->
          </template>
        </b-table>

        <div class="row my-1">
          <div class="col-sm-8">
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" @input="getlistdevice"
                          :limit="6"/>
          </div>

        </div>

        <!-- Details modal -->
        <b-modal id="modal1" @hide="resetModal" ok-only>
          <h4 class="my-1 py-1" slot="modal-header">Index: {{ modalDetails.index }}</h4>
          <pre>{{ modalDetails.data }}</pre>
        </b-modal>
        <b-modal id="editDeviceModal" ref="editDeviceModal" title="Cập nhật nhóm" @ok="updatedevice">
          <div class="form-device">
            <label>
              Tên thiết bị
            </label>
            <input class="form-control" v-model="editdevice.name" type="text" placeholder="Nhập tên nhóm"/>
          </div>
          <div class="form-device">
            <label>
              Mã điều khiển
            </label>
            <input class="form-control" v-model="editdevice.controlid" type="text" placeholder="Nhập controlid"/>
          </div>
          <div class="form-device">
            <label>
              Mã thiết bị
            </label>
            <input rows="2" v-model="editdevice.hardwareid" class="form-control" type="text"
                   placeholder="Nhập mã thiết bị"/>
          </div>
          <div class="form-device">
            <label>
              Chọn kiểu
            </label>
            <select v-model="editdevice.type" class="form-control">
              <option value="-1" selected>Chọn kiểu</option>
              <option value="LORA">Dạng 1</option>
              <option value="RF">Dạng 2</option>
            </select>
          </div>
          <div class="form-device">
            <label>
              Công suất tiêu thụ
            </label>
            <input rows="2" v-model="editdevice.consumer" class="form-control" type="number"
                   placeholder="Nhập công suất tiêu thụ điện"/>
          </div>
          <div class="form-device">
            <label>
              Giá trị mặc định
            </label>
            <input rows="2" v-model="editdevice.quota" class="form-control" type="text"
                   placeholder="Nhập giá trị mặc định"/>
          </div>
          <div class="form-device">
            <label>
              Ngưỡng nhỏ nhất
            </label>
            <input rows="2" v-model="editdevice.min" class="form-control" type="text"
                   placeholder="ngưỡng nhỏ nhất"/>
          </div>
          <div class="form-device">
            <label>
              Ngưỡng lớn nhất
            </label>
            <input rows="2" v-model="editdevice.max" class="form-control" type="text"
                   placeholder="Nhập ngưỡng lớn nhất"/>
          </div>
          <div class="form-device">
            <label>
              Nhóm thiết bị
            </label>
            <select v-model="editdevice.group" class="form-control">
              <option value="-1" selected>Chọn nhóm</option>
              <option v-for="listgroup in listgroups" v-bind:key="listgroup._id" v-bind:value="listgroup._id">{{listgroup.name}}</option>
            </select>
          </div>

          <div class="form-device">
            <label>
              Ghi chú
            </label>
            <textarea rows="2" v-model="editdevice.consumer" class="form-control" type="text"
                      placeholder="Nhập ghi chú thiết bị"/>
          </div>
        </b-modal>


        <b-modal id="addDeviceModal" ref="addDeviceModal" title="Tạo nhóm" @ok="createdevice">
          <div class="form-device">
            <label>
              Tên thiết bị
            </label>
            <input class="form-control" v-model="newdevice.name" type="text" placeholder="Nhập tên thiêt bị"/>
          </div>
          <div class="form-device">
            <label>
              Mã điều khiển
            </label>
            <input class="form-control" v-model="newdevice.controlid" type="text" placeholder="Nhập controlid"/>
          </div>
          <div class="form-device">
            <label>
              Mã thiết bị
            </label>
            <input rows="2" v-model="newdevice.hardwareid" class="form-control" type="text"
                   placeholder="Nhập mã thiết bị"/>
          </div>
          <div class="form-device">
            <label>
              Chọn kiểu
            </label>
            <select v-model="newdevice.type" class="form-control">
              <option value="-1" selected>Chọn kiểu</option>
              <option value="LORA">Dạng 1</option>
              <option value="RF">Dạng 2</option>
            </select>
          </div>
          <div class="form-device">
            <label>
              Công suất tiêu thụ
            </label>
            <input rows="2" v-model="newdevice.consumer" class="form-control" type="number"
                   placeholder="Nhập công suất tiêu thụ điện của thiết bị"/>
          </div>
          <div class="form-device">
            <label>
              Giá trị mặc định
            </label>
            <input rows="2" v-model="newdevice.quota" class="form-control" type="text"
                   placeholder="Nhập giá trị mặc định"/>
          </div>
          <div class="form-device">
            <label>
              Ngưỡng nhỏ nhất
            </label>
            <input rows="2" v-model="newdevice.min" class="form-control" type="text"
                   placeholder="Nhập ngưỡng nhỏ nhất"/>
          </div>
          <div class="form-device">
            <label>
              Ngưỡng lớn nhất
            </label>
            <input rows="2" v-model="newdevice.max" class="form-control" type="text"
                   placeholder="Nhập ngưỡng lớn nhất"/>
          </div>
          <div class="form-device">
            <label>
              Ghi chú
            </label>
            <select v-model="newdevice.group" class="form-control">
              <option value="-1" selected>Chọn nhóm</option>
              <option v-for="listgroup in listgroups" v-bind:key="listgroup._id" v-bind:value="listgroup._id">{{listgroup.name}}</option>
            </select>
          </div>
          <div class="form-device">
            <label>
              Ghi chú
            </label>
            <textarea rows="2" v-model="newdevice.descript" class="form-control" type="text"
                      placeholder="Nhập ghi chú "/>
          </div>
        </b-modal>


        <b-modal id="deleteDeviceModal" ref="deleteDeviceModal" title="Xác nhận" @ok="deletedevice">
          <div class="form-group">
            <h6> Bạn có chắc muốn xóa thiết bị này</h6>
          </div>

        </b-modal>
      </template>
    </div>
  </div>
</template>

<script>

  import Vue from 'vue'


  export default {
    name: 'device',

    data() {
      return {
        fields: {
          index: {label: 'STT'},
          name: {label: 'Tên thiết bị', sortable: true},
          controlid: {label: 'Mã điều khiển', sortable: true, 'class': 'text-center'},
          hardwareid: {label: 'Mã thiết bị', sortable: true, 'class': 'text-center'},
          consumer: {label: 'Công suất', 'class': 'text-center'},
          min: {label: 'Min', 'class': 'text-center'},
          max: {label: 'Max', 'class': 'text-center'},
          action: {label: 'Hoạt động', 'class': 'text-center'}
        },
        query: {group: -1, title: null},
        request_query:'',
        currentPage: 1,
        perPage: 10,
        totalRows: 0,
        pageOptions: [{text: 10, value: 10}, {text: 20, value: 20}, {text: 50, value: 50}],
        sortBy: null,
        sortDesc: false,
        filter: '',
        modalDetails: {index: '', data: ''},
        editdevice: {},
        newdevice: {group: '-1',type:'-1'},
        listdevices: [],
        listgroups: []
      }

    },

    computed: {
      reversedSearchText: function () {
        return this.$store.state.appnav.searchText.split('').reverse().join('')
      }
    },

    mounted() {
      this.$store.watch((state) => {
        return state.appnav
      }, (appnav) => {
        // Add some behavior here
        this.$dialog.alert('Now you need to make a component to display search results!')
      }, {
        deep: true
      }),
        this.getlistdevice(),
        this.getlistgroup()
    },

    methods: {
      getlistdevice(){

        this.$http
          .get('/api/device/getlistdevice?page=' + this.currentPage + '&per_page=' + this.perPage + '&query=' + this.request_query )
          .then((response) => {
            this.listdevices = response.data.item;
            this.totalRows = response.data.count;
            console.log(totalRows);
            
          })
          .catch((response) => {
          })
      },
      queryChange(){
        let queryreturn = {};


        if (this.query.title) {
          queryreturn.name = this.query.title;
        }

        if (this.query.group && this.query.group != -1) {
          queryreturn.group = this.query.group;
        }
        this.request_query = encodeURI(JSON.stringify(queryreturn));
        this.getlistdevice();
      },

      getlistgroup(){

        this.$http
          .get('/api/group/getalllistgroup')
          .then((response) => {
            if (response.data.item.length > 0) {
              this.listgroups = response.data.item
            }
            
          })
          .catch((response) => {

          })
      },

      details(item, index, button) {
        this.modalDetails.data = JSON.stringify(item, null, 2);
        this.modalDetails.index = index;
        this.$root.$emit('bv::show::modal', 'modal1', button);
      },
      resetModal() {
        this.modalDetails.data = '';
        this.modalDetails.index = '';
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        //this.totalRows = filteredItems.length;

      },

      openupdatedevice(device) {
        this.editdevice = Object.assign({}, device);
        this.$refs.editDeviceModal.show();
      },
      opencreatedevice(device) {
        this.$refs.addDeviceModal.show();
      },
      updatedevice(evt){
        evt.preventDefault();
        if (!this.editdevice.name) {
          this.$dialog.alert('Vui lòng nhập tên nhóm');
          return;
        } else if (!this.editdevice.controlid) {
          this.$dialog.alert('Vui lòng nhập controlid nhóm');
          return;
        }
        else if (this.editdevice.type == -1) {
          this.$dialog.alert('Vui lòng chọn kiểu thiết bị');
          return;
        }
        else if (!this.editdevice.consumer) {
          this.$dialog.alert('Vui lòng nhập công suất tiêu thụ điện thiết bị');
          return;
        }

        else if (this.editdevice.group == -1) {
          this.$dialog.alert('Vui lòng chọn nhóm thiết bị');
          return;
        }

        else {
          this.$http
            .put('/api/device/updatedevice', this.editdevice)
            .then((response) => {
              console.log(response)
              if (response.status == 200 && response.body.code == "SUCCESS") {
                this.$refs.editDeviceModal.hide();
                this.$dialog.alert('Cập nhật nhóm thiết bị thành công ');
                this.getlistdevice();

              }
              else if(response.body.code='ERROR HARDWAREID EXIT'){
                this.$dialog.alert('Mã thiết bị đã tồn tại , vui lòng chọn mã khác')
              }
              else {

                this.$dialog.alert('Cập nhật nhóm thiết bị thất bại ')
              }
              
            })
            .catch((response) => {

            })
        }
      },
      createdevice(evt) {
        evt.preventDefault();
        if (!this.newdevice.name) {
          this.$dialog.alert('Vui lòng nhập tên thiết bị');
          return;
        } else if (!this.newdevice.controlid) {
          this.$dialog.alert('Vui lòng nhập controlid thiết bị');
          return;
        }
        else if (!this.newdevice.consumer) {
          this.$dialog.alert('Vui lòng nhập công suất tiêu thụ điện thiết bị');
          return;
        }

        else if (this.newdevice.type == -1) {
          this.$dialog.alert('Vui lòng chọn kiểu thiết bị');
          return;
        }
        else if (this.newdevice.group == -1) {
          this.$dialog.alert('Vui lòng chọn nhóm thiết bị');
          return;
        }
        else {
          this.$http
            .post('/api/device/createdevice', this.newdevice)
            .then((response) => {
              console.log(response)
              if (response.status == 200 && response.body.code == "SUCCESS") {
                this.$refs.addDeviceModal.hide();
                this.newdevice = {group: '-1',type:'-1'};
                this.$dialog.alert('Thêm nhóm thiết bị thành công ');
                setTimeout(() => {
                  this.getlistdevice();
                }, 1500);
              }
              else if(response.body.code='ERROR HARDWAREID EXIT'){
                this.$dialog.alert('Mã thiết bị đã tồn tại , vui lòng chọn mã khác')
              }
              else {
                this.$dialog.alert('Thêm nhóm thiết bị thất bại ')
              }
              ;
            })
            .catch((response) => {

            })
        }
      },
      opendeletedevice(device) {
        this.editdevice = Object.assign({}, device);
        this.$refs.deleteDeviceModal.show();

      },
      deletedevice(evt) {
        evt.preventDefault();
        this.$http
          .delete('/api/device/deletedevice/' + this.editdevice._id)
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {
              this.$refs.deleteDeviceModal.hide();
              this.$dialog.alert('Xóa thiết bị thành công ').then({});
              this.getlistgroup();
              this.editdevice = {};
            } else {
              this.$dialog.alert('Xóa thiết bị thất bại ')
            }
            
          }, err => {
            this.$dialog.alert('Xóa thiết bị thất bại ')
          })
          .catch((response) => {

          })

      }
    }
  }
</script>

<style lang="scss">

</style>
