<style>
</style>
<template>
  <div class="ev-dashboard">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <router-link to="dashboard"> Cài đặt</router-link>
      </li>
      <li class="breadcrumb-item active">Nhóm thiết bị</li>
    </ol>
    <div id="viewGroup">

      <template>
        <div>
          <b-btn variant="primary" class="btn btn-primary" v-b-modal.addGroupModal> Tạo nhóm</b-btn>
        </div>
        <div class="my-1 row">
          <div class="col-md-6">
            <b-form-fieldset horizontal label="Số bản ghi" :label-cols="6">
              <b-form-select :options="pageOptions" v-model="perPage"/>
            </b-form-fieldset>
          </div>
          <div class="col-md-6">
            <b-form-fieldset horizontal label="Tìm kiếm" :label-cols="3">
              <b-form-input v-model="filter" placeholder="Tìm kiếm tên thiết bị"/>
            </b-form-fieldset>
          </div>
        </div>


        <!-- Main table element -->
        <b-table hover bordered
                 :items="listgroups"
                 :fields="fields"
                 :filter="filter"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 @filtered="onFiltered"
        >
          <template slot="index" slot-scope="data">
            {{(perPage* (currentPage-1)) +data.index + 1}}
          </template>
          <template slot="name" slot-scope="row">{{row.value}}</template>
          <template slot="isActive" slot-scope="row">{{row.value ? 'Yes :)' : 'No :('}}</template>
          <template slot="Icon" slot-scope="row">{{row.icon}}</template>
          <template slot="action" slot-scope="row">
            <!-- We use click.stop here to prevent a 'row-clicked' event from also happening -->
            <i class="fa fa-edit" @click="openupdategroup(row.item)" title="Chỉnh sửa"></i>
            <i class="fa fa-remove" @click="opendeletegroup(row.item)" title="Xóa"></i>
            <!--<b-btn size="sm" @click.stop="details(row.item,row.index,$event.target)">Details</b-btn>-->
          </template>
        </b-table>

        <div class="row my-1">
          <div class="col-sm-8">
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" @input="getlistgroup" :limit="6"/>
          </div>

        </div>

        <!-- Details modal -->
        <!--<b-modal id="modal1" @hide="resetModal" ok-only>-->
        <!--<h4 class="my-1 py-1" slot="modal-header">Index: {{ modalDetails.index }}</h4>-->
        <!--<pre>{{ modalDetails.data }}</pre>-->
        <!--</b-modal>-->
      </template>
    </div>
    <b-modal id="editGroupModal" ref="editGroupModal" title="Cập nhật nhóm" @ok="updategroup">
      <div class="form-group">
        <label>
          Tên nhóm
        </label>
        <input class="form-control" v-model="editgroup.name" type="text" placeholder="Nhập tên nhóm"/>
      </div>
      <div class="form-group">
        <label>
          Mã nhóm
        </label>
        <input class="form-control" v-model="editgroup.enode" type="text" placeholder="Nhập enode"/>
      </div>
      <div class="form-group">
        <label>
          Kiểu nhóm
        </label>
        <select v-model="editgroup.type" class="form-control">
          <option value="-1">Chọn kiểu</option>
          <option value="LORA">Dạng 1</option>
          <option value="RF">Dạng 2</option>
        </select>
      </div>
      <div class="form-group">
        <label>
          Icon
        </label>
        <input class="form-control" v-model="editgroup.icon" type="text" placeholder="Nhập mã icon"/>
      </div>
      <div class="form-group">
        <label>
          Ghi chú
        </label>
        <textarea rows="2" v-model="editgroup.description" class="form-control" type="text"
                  placeholder="Nhập ghi chú nhóm"/>
      </div>
    </b-modal>


    <b-modal id="addGroupModal" ref="addGroupModal" title="Tạo nhóm" @ok="creategroup">
      <div class="form-group">
        <label>
          Tên nhóm
        </label>
        <input class="form-control" v-model="newgroup.name" type="text" placeholder="Nhập tên nhóm"/>
      </div>
      <div class="form-group">
        <label>
          Mã nhóm
        </label>
        <input class="form-control" v-model="newgroup.enode" type="text" placeholder="Nhập enode"/>
      </div>
      <div class="form-group">
        <label>
          Kiểu nhóm
        </label>
        <select v-model="newgroup.type" class="form-control">
          <option value="-1" selected>Chọn kiểu</option>
          <option value="LORA">Dạng 1</option>
          <option value="RF">Dạng 2</option>
        </select>
      </div>
      <div class="form-group">
        <label>
          Icon
        </label>
        <input class="form-control" v-model="newgroup.icon" type="text" placeholder="Nhập mã icon"/>
      </div>
      <div class="form-group">
        <label>
          Ghi chú
        </label>
        <textarea rows="2" v-model="newgroup.descript" class="form-control" type="text"
                  placeholder="Nhập ghi chú nhóm"/>
      </div>
    </b-modal>

    <b-modal id="deleteGroupModal" ref="deleteGroupModal" title="Xác nhận" @ok="deletegroup">
      <div class="form-group">
        <h6> Bạn có chắc muốn xóa nhóm này</h6>
      </div>

    </b-modal>
  </div>
</template>

<script>

  import Vue from 'vue'


  export default {
    name: 'device',
    beforeMount() {


    },
    data() {
      return {
        //ie: listgroups,
        fields: {
          index:{label:'STT'},
          name: {label: 'Tên nhóm', sortable: true},
          enode: {label: 'Mã nhóm', sortable: true, 'class': 'text-center'},
          description: {label: 'Mô tả', sortable: true, 'class': 'text-center'},
          icon: {label: 'Icon', sortable: true, 'class': 'text-center'},
          action: {label: 'Hoạt động', 'class': 'text-center'}
        },
        currentPage: 1,
        perPage: 10,
        totalRows: 0,
        query: '',
        pageOptions: [{text: 10, value: 10}, {text: 20, value: 20}, {text: 50, value: 50}],
        sortBy: null,
        sortDesc: false,
        filter: null,
        modalDetails: {index: '', data: ''},
        editgroup: {},
        newgroup: {type: '-1'},
        listgroups: [],

      }

    },

    computed: {
      reversedSearchText: function () {
        return this.$store.state.appnav.searchText.split('').reverse().join('')
      }
    },
    created(){
      this.getlistgroup()
    },
    mounted() {
      this.$store.watch((state) => {
        return state.appnav
      }, (appnav) => {
        // Add some behavior here
        this.$dialog.alert('Now you need to make a component to display search results!')
      }, {
        deep: true
      })

    },

    methods: {
      details(item, index, button) {
        this.modalDetails.data = JSON.stringify(item, null, 2);
        this.modalDetails.index = index;
        this.$root.$emit('bv::show::modal', 'modal1', button);
      },
      getlistgroup(){
        this.$http
          .get('/api/group/getlistgroup?page=' + this.currentPage + '&per_page=' + this.perPage + '&query=' + this.query)
          .then((response) => {
            this.listgroups = response.data.item;
            this.totalRows = response.data.count;
            
          })
          .catch((response) => {

          })
      },
      resetModal() {
        this.modalDetails.data = '';
        this.modalDetails.index = '';
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        //his.totalRows = filteredItems.length;
        //this.currentPage = 1;
      },

      openupdategroup(group) {
        this.editgroup = Object.assign({}, group);
        this.$refs.editGroupModal.show();
      },
      opendeletegroup(group) {
        this.editgroup = Object.assign({}, group);
        this.$refs.deleteGroupModal.show();
      },
      updategroup(evt){
        evt.preventDefault();
        if (!this.editgroup.name) {
          this.$dialog.alert('Vui lòng nhập tên nhóm');
          return;
        } else if (!this.editgroup.enode) {
          this.$dialog.alert('Vui lòng nhập enode nhóm');
          return;
        }
        else if (this.editgroup.type == '-1') {
          this.$dialog.alert('Vui lòng chọn kiểu nhóm');
          return;
        }else {
          this.$http
            .put('/api/group/updategroup', this.editgroup)
            .then((response) => {
              if (response.status == 200 && response.body.code == "SUCCESS") {
                this.$refs.editGroupModal.hide();
                this.$dialog.alert('Cập nhật nhóm thiết bị thành công ');
                this.getlistgroup();
                this.editgroup={};

              } else {
                this.$dialog.alert('Cập nhật nhóm thiết bị thất bại ')
              }
              
            })
            .catch((response) => {

            })
        }
      },
      creategroup(evt) {
        evt.preventDefault();
        if (!this.newgroup.name) {
          this.$dialog.alert('Vui lòng nhập tên nhóm');
          return;
        } else if (!this.newgroup.enode) {
          this.$dialog.alert('Vui lòng nhập enode nhóm');
          return;
        }
        else if (this.newgroup.type == '-1') {
          this.$dialog.alert('Vui lòng chọn kiểu nhóm');
          return;
        }
        else {
          this.$http
            .post('/api/group/creategroup', this.newgroup)
            .then((response) => {
              if (response.status == 200 && response.body.code == "SUCCESS") {
                this.$refs.addGroupModal.hide();
                this.$dialog.alert('Thêm nhóm thiết bị thành công ');
                this.getlistgroup();
                this.newgroup={type:'-1'};

              } else {
                this.$dialog.alert('Thêm nhóm thiết bị thất bại ')
              }
              
            })
            .catch((response) => {

            })
        }
      },
      deletegroup(evt) {
        evt.preventDefault();
        this.$http
          .delete('/api/group/deletegroup/'+this.editgroup._id)
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {
              this.$refs.deleteGroupModal.hide();
              this.$dialog.alert('Xóa nhóm thiết bị thành công ');
              this.getlistgroup();
              this.editgroup={};
            } else {
              this.$dialog.alert('Xóa nhóm thiết bị thất bại ')
            }
            
          },err=>{
            this.$dialog.alert('Xóa nhóm thiết bị thất bại ')
          })
          .catch((response) => {

          })
      },
    }
  }
</script>

<style lang="scss">
  .ev-dashboard {

  }

</style>
