<style scoped>
  @import "dashbroad.css";
</style>
<template>
  <div class="ev-dashboard">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <router-link to="dashboard"> Cài đặt</router-link>
      </li>
      <li class="breadcrumb-item active">Kịch bản điều khiển</li>
    </ol>
    <div id="viewScription">

      <template>

        <div>
          <button class="btn btn-primary" @click="opencreatescript"> Thêm kịch bản</button>
        </div>
        <div class="my-1 row">
          <div class="col-md-6">
            <b-form-fieldset horizontal label="Số bản ghi" :label-cols="6">
              <b-form-select :options="pageOptions" v-model="perPage"/>
            </b-form-fieldset>
          </div>
          <div class="col-md-6">
            <b-form-fieldset horizontal label="Tìm kiếm" :label-cols="3">
              <b-form-input v-model="filter" placeholder="Tìm kiếm tên thiết bị"/>
            </b-form-fieldset>
          </div>
        </div>
        <table class="table col-md-12">
          <thead>
          <th width="30px">Stt</th>
          <th style="max-width: 30%">Tên kịch bản</th>
          <th>Nhóm thuộc</th>
          <th class="" width="100px">Chi tiết</th>
          <th class="" width="100px">Thao tác</th>
          </thead>
          <tbody>
          <tr v-for="(scription, index) in listscriptioncontrol" v-bind:key="scription._id" class="col-md-12">
            <td width="30px">{{(perPage * (currentPage - 1))+(index + 1)}}</td>
            <td class="" style="max-width: 30%">{{scription.name}}</td>
            <td class="script-td" style="max-width: 200px;overflow: hidden">
              <label v-for="group in scription.groups" v-bind:key="group.id"> {{group.name +' , '}}</label>
            </td>
            <td class="text-center"><i  style="" class="fa fa-info-circle fa-lg" title="Chi tiết" @click="openinfo_script(scription)"></i></td>
            <td class="" style="text-align: center">
              <i  style="display: none" class="fa fa-edit " @click="openupdatescript(scription)"></i>
              <i class="fa fa-remove fa-lg" title="Xóa" @click="opendeletescript(scription)"></i>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="row my-1">
          <div class="col-sm-8">
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" @input="getlistscriptcontrol"
                          :limit="6"/>
          </div>

        </div>
      </template>
    </div>


    <b-modal id="addScriptionModal" ref="addScriptionModal" title="Tạo kịch bản" @ok="createscription">
      <div class="col-md-6">
        <label>Tên kịch bản</label>
        <input class="form-control" v-model="newscripts.name" type="text" placeholder="Tên kịch bản"/>
      </div>
      <div class="" style="margin-top: 20px;" v-for="(item, index) in newscripts.groups" v-bind:key="item._id">

        <ItemScript :data="item" :index="index" v-on:pushdata="datetest" v-on:minutGroup="minutGroup"/>
      </div>
      <div class="col-md-12" style="text-align: center;margin-top: 10px">
        <button class="btn btn-success" @click="AddItem" style="font-size: large">+</button>
      </div>
    </b-modal>


    <b-modal id="editscriptModal" ref="editscriptModal" title="Cập nhật kịch bản" @ok="updategroup">
      <div class="form-group">
        <label>
          Tên nhóm
        </label>
        <input class="form-control" v-model="editscript.name" type="text" placeholder="Nhập tên nhóm"/>
      </div>
      <div class="form-group">
        <label>
          Mã nhóm
        </label>
        <input class="form-control" v-model="editscript.enode" type="text" placeholder="Nhập enode"/>
      </div>
      <div class="form-group">
        <label>
          Icon
        </label>
        <input class="form-control" v-model="editscript.icon" type="text" placeholder="Nhập mã icon"/>
      </div>
      <div class="form-group">
        <label>
          Ghi chú
        </label>
        <textarea rows="2" v-model="editscript.description" class="form-control" type="text"
                  placeholder="Nhập ghi chú nhóm"/>
      </div>
    </b-modal>

    <b-modal  id="infoscriptModal" ref="infoscriptModal" title="Chi tiết kịch bản"  ok-only size="lg">
      <div class="form-group">
        <h4>
         {{editscript.name}}
        </h4>
      </div>
      <div class="form-group">
        <div class="card" v-for="group in editscript.groups" :key="group.groupid" >
          <div class="card-header">
            {{group.name}}
          </div>
          <div class="card-body" style="min-height: 50px">
            <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2" v-for="device in group.devices" :key="device.deviceid"
                 style="float: left;margin-right: 15px ; margin-top: 15px;overflow: hidden">
              <input class="magic-checkbox" checked="checked" type="checkbox" name="layout"
                     :id="device._id" value="">
              <label :for="device._id">{{device.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </b-modal>


    <b-modal  id="deleteScriptModal" ref="deleteScriptModal" title="Xác nhận" @ok="deleteScriptModal">
      <div class="form-group">
        <h6> Bạn có chắc muốn xóa kịch bản này</h6>
      </div>

    </b-modal>
  </div>
</template>

<script>

  import Vue from 'vue'
  import ItemScript from './item_component/ItemGroup.vue'

  //itemGroup
  export default {
    name: 'scription',
    components: {ItemScript},
    beforeMount() {


    },
    data() {
      return {
        //ie: listgroups,
        currentPage: 1,
        perPage: 10,
        totalRows: 0,
        query: '',
        pageOptions: [{text: 10, value: 10}, {text: 20, value: 20}, {text: 50, value: 50}],
        sortBy: null,
        sortDesc: false,
        listscriptioncontrol: [],
        filter: null,
        modalDetails: {index: '', data: ''},
        listgroups: [],
        editscript: {},
        newscripts: {name: '', groups: [{groupid: '-1', type: '-1', devices: [], name: ''}]}

      }

    },

    computed: {
      reversedSearchText: function () {
        return this.$store.state.appnav.searchText.split('').reverse().join('')
      }
    },
    created(){
      this.getlistscriptcontrol()
    },
    mounted() {
      this.$store.watch((state) => {
        return state.appnav
      }, (appnav) => {
        // Add some behavior here
        this.$dialog.alert('Now you need to make a component to display search results!')
      }, {
        deep: true
      })

    },

    methods: {
      details(item, index, button) {
        this.modalDetails.data = JSON.stringify(item, null, 2);
        this.modalDetails.index = index;
        this.$root.$emit('bv::show::modal', 'modal1', button);
      },
      datetest(){
        console.log('haha vao day de');
      },
      getlistscriptcontrol(){
        this.$http
          .get('/api/scriptcontrols/getlistscriptcontrol_bypage?page=' + this.currentPage + '&per_page=' + this.perPage + '&query=' + this.query)
          .then((response) => {
            this.listscriptioncontrol = response.data.item;
            this.totalRows = response.data.count;
          })
          .catch((response) => {

          })
      },
      resetModal() {
        this.modalDetails.data = '';
        this.modalDetails.index = '';
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        //his.totalRows = filteredItems.length;
        //this.currentPage = 1;
      },

      opencreatescript() {
        //this.editscript = Object.assign({}, group);
        this.$refs.addScriptionModal.show();
      },
      opendeletescript(script) {
        this.editscript = Object.assign({}, script);
        this.$refs.deleteScriptModal.show();
      },

      openinfo_script(script) {
        this.editscript = Object.assign({}, script);
        this.$refs.infoscriptModal.show();
      },

      opendeletegroup(group) {
        this.editscript = Object.assign({}, group);
        this.$refs.deleteGroupModal.show();
      },
      updategroup(evt){
        evt.preventDefault();
        if (!this.editscript.name) {
          this.$dialog.alert('Vui lòng nhập tên nhóm');

        } else if (!this.editscript.enode) {
          this.$dialog.alert('Vui lòng nhập enode nhóm');

        } else {
          this.$http
            .put('/api/group/updategroup', this.editscript)
            .then((response) => {
              if (response.status == 200 && response.body.code == "SUCCESS") {
                this.$refs.editscriptModal.hide();
                this.$dialog.alert('Cập nhật nhóm thiết bị thành công ');
                this.getlistgroup();
                this.editscript = {};

              } else {
                this.$dialog.alert('Cập nhật nhóm thiết bị thất bại ')
              }
              
            })
            .catch((response) => {

            })
        }
      },

      createscription(evt) {
        evt.preventDefault();
        let check = true;
        if (!this.newscripts.name) {
          this.$dialog.alert('Vui lòng nhập tên nhóm');
          return false;
        }
        if (!this.newscripts.groups.length) {
          this.$dialog.alert('Kịch bản phải có ít nhất một nhóm điều khiển , vui lòng thêm nhóm');
          return false;
        }
        this.newscripts.groups.map((group) => {

          console.log(group)

          if (!group.devices.length) {

            check = false;
          }
        });
        if (!check) {
          this.$dialog.alert('Mỗi nhóm chọn ít nhất một thiết bị điều khiển , vui lòng chọn chọn thiết bị');
          return false
        }
        else {

          this.$http
            .post('/api/scriptcontrols/createscriptioncontrol', this.newscripts)
            .then((response) => {
              if (response.status == 200 && response.body.code == "SUCCESS") {
                this.$refs.addScriptionModal.hide();
                this.newscripts = {name: '', groups: [{groupid: '-1', type: '-1', devices: [], name: ''}]};
                this.$dialog.alert('Thêm kịch bản điều khiển thành công ');
                this.getlistscriptcontrol();


              } else if (response.body.code=="NAME AVAILABLE"){
                this.$dialog.alert('Tên kịch bản đã tồn tại , vui lòng chọn tên khác ')
              }else{
                this.$dialog.alert('Thêm kịch bản điều khiển thất bại ')
              }
              
            })
            .catch((response) => {

            })
        }
      },

      deleteScriptModal(evt) {
        evt.preventDefault();
        this.$http
          .delete('/api/scriptcontrols/deletescript/' + this.editscript._id)
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {
              this.$refs.deleteScriptModal.hide();
              this.$dialog.alert('Xóa kịch bản điều khiển thành công ');
              this.getlistscriptcontrol();
              this.editscript = {};
            } else {
              this.$dialog.alert('Xóa kịch bản điều khiển thất bại ')
            }
            
          }, err => {
            this.$dialog.alert('Xóa kịch bản điều khiển thất bại ')
          })
          .catch((response) => {

          })
      },

      AddItem(){
        this.newscripts.groups.push({_id: '-1', type: '-1', devices: [], name: ''})
      },
      minutGroup(index = 1){
        this.newscripts.groups.splice(index, 1);
      }
    }
  }
</script>

<style lang="scss">
  .ev-dashboard {

  }

</style>
