<style>
</style>
<template>
  <div class="ev-dashboard">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <router-link to="dashboard"> Cài đặt</router-link>
      </li>
      <li class="breadcrumb-item active">Người dùng</li>
    </ol>
    <div id="viewGroup">

      <template>
        <div>
          <b-btn variant="primary" class="btn btn-primary" v-b-modal.addGroupModal> Thêm người dùng</b-btn>
        </div>
        <div class="my-1 row">
          <div class="col-md-6">
            <b-form-fieldset horizontal label="Số bản ghi" :label-cols="6">
              <b-form-select :options="pageOptions" v-model="perPage"/>
            </b-form-fieldset>
          </div>
          <div class="col-md-6">
            <b-form-fieldset horizontal label="Tìm kiếm" :label-cols="3">
              <b-form-input v-model="filter" placeholder="Tìm kiếm tên người dùng"/>
            </b-form-fieldset>
          </div>
        </div>


        <!-- Main table element -->
        <b-table hover bordered
                 :items="listusers"
                 :fields="fields"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
        >
          <template slot="index" slot-scope="data">
            {{(perPage* (currentPage-1)) +data.index + 1}}
          </template>
          <template slot="name" slot-scope="row">{{row.value}}</template>
          <template slot="isActive" slot-scope="row">{{row.value ? 'Yes :)' : 'No :('}}</template>
          <template slot="Icon" slot-scope="row">{{row.icon}}</template>
          <template slot="action" slot-scope="row">
            <!-- We use click.stop here to prevent a 'row-clicked' event from also happening -->
            <i class="fa fa-edit" @click="openupdateuser(row.item)" title="Chỉnh sửa"></i>
            <i class="fa fa-remove" @click="opendeleteuser(row.item)" title="Xóa"></i>
            <!--<b-btn size="sm" @click.stop="details(row.item,row.index,$event.target)">Details</b-btn>-->
          </template>
        </b-table>

        <div class="row my-1">
          <div class="col-sm-8">
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" @input="getlistuser" :limit="6"/>
          </div>

        </div>

        <!-- Details modal -->
        <!--<b-modal id="modal1" @hide="resetModal" ok-only>-->
        <!--<h4 class="my-1 py-1" slot="modal-header">Index: {{ modalDetails.index }}</h4>-->
        <!--<pre>{{ modalDetails.data }}</pre>-->
        <!--</b-modal>-->
      </template>
    </div>
    <b-modal id="editGroupModal" ref="editGroupModal" title="Cập nhật người dùng" @ok="updateuser">
      <div class="form-group">
        <label>
          Họ Tên 
        </label>
        <input class="form-control" v-model="edituser.name" type="text" placeholder="Nhập tên người dùng"/>
      </div>
      <div class="form-group">
        <label>
          Tên truy cập
        </label>
        <input class="form-control" v-model="edituser.username" type="text" placeholder="Nhập tên người dùng"/>
      </div>
      <div class="form-group">
        <label>
          Phân quyền
        </label>
        <select v-model="edituser.role" class="form-control">
          <option value="-1">Chọn quyền</option>
          <option value="Manager">Quản lý</option>
          <option value="User">Người dùng</option>
        </select>
      </div>
      <label @click="showUpdatePassword()" color="#00aaff;">Update password</label>
      <div class="form-group" v-if="edituser.updatePassword">
        <label>
          Mật khẩu
        </label>
        <input class="form-control" v-model="edituser.password" type="password" placeholder="*****"/>
      </div>
      <div class="form-group" v-if="edituser.updatePassword">
        <label>
          Xác nhận mật khẩu
        </label>
        <input class="form-control" v-model="edituser.repassword" type="password" placeholder="*****"/>
      </div>
      <div class="form-group">
        <label>
          Ghi chú
        </label>
        <textarea rows="2" v-model="edituser.description" class="form-control" type="text"
                  placeholder="Nhập mô tả người dùng"/>
      </div>
    </b-modal>


    <b-modal id="addGroupModal" ref="addGroupModal" title="Tạo người dùng" @ok="createuser">
      
      <div class="form-group">
        <label>
          Họ tên
        </label>
        <input class="form-control" v-model="newuser.name" type="text" placeholder="Nhập họ tên người dùng"/>
      </div>
      <div class="form-group">
        <label>
          Tên truy cập
        </label>
        <input class="form-control" v-model="newuser.username" type="text" placeholder="Nhập tên truy cập"/>
      </div>
      <div class="form-group">
        <label>
          Phân quyền
        </label>
        <select v-model="newuser.role" class="form-control">
          <option value="-1" selected>Chọn quyền</option>
          <option value="Manager">Quản lý</option>
          <option value="User">Người dùng</option>
        </select>
      </div>
      <div class="form-group">
        <label>
          Mật khẩu
        </label>
        <input class="form-control" v-model="newuser.password" type="password" placeholder="*****"/>
      </div>
      <div class="form-group">
        <label>
          Xác nhận mật khẩu
        </label>
        <input class="form-control" v-model="newuser.repassword" type="password" placeholder="*****"/>
      </div>
      <div class="form-group">
        <label>
          Mô tả thêm
        </label>
        <textarea rows="2" v-model="newuser.descript" class="form-control" type="text"
                  placeholder="Nhập mô tả người dùng"/>
      </div>
    </b-modal>

    <b-modal id="deleteGroupModal" ref="deleteGroupModal" title="Xác nhận" @ok="deleteuser">
      <div class="form-group">
        <h6> Bạn có chắc muốn xóa người dùng này</h6>
      </div>

    </b-modal>
  </div>
</template>

<script>

  import Vue from 'vue'

  export default {
    name: 'user',
    beforeMount() {


    },
    data() {
      return {
        //ie: listgroups,
        fields: {
          index:{label:'STT'},
          name: {label: 'Họ tên'},
          username: {label: 'Tên truy cập', },
          _id: {label: 'Mã người dùng',  'class': 'text-center'},
          description: {label: 'Mô tả', 'class': 'text-center'},
          action: {label: 'Hoạt động', 'class': 'text-center'}
        },
        currentPage: 1,
        perPage: 10,
        totalRows: 0,
        query: '',
        pageOptions: [{text: 10, value: 10}, {text: 20, value: 20}, {text: 50, value: 50}],
        sortBy: null,
        sortDesc: false,
        filter: null,
        modalDetails: {index: '', data: ''},
        edituser: {},
        newuser: {role: '-1'},
        listusers: [],

      }

    },

    computed: {
      reversedSearchText: function () {
        return this.$store.state.appnav.searchText.split('').reverse().join('')
      }
    },
    created(){
      this.getlistuser()
    },
    mounted() {
      this.$store.watch((state) => {
        return state.appnav
      }, (appnav) => {
        // Add some behavior here
        this.$dialog.alert('Now you need to make a component to display search results!')
      }, {
        deep: true
      })

    },

    methods: {
      details(item, index, button) {
        this.modalDetails.data = JSON.stringify(item, null, 2);
        this.modalDetails.index = index;
        this.$root.$emit('bv::show::modal', 'modal1', button);
      },
      getlistuser(){
        this.$http
          .get('/api/user/getlistuser?page=' + this.currentPage + '&per_page=' + this.perPage + '&query=' + this.query)
          .then((response) => {
            this.listusers = response.data.item;
            this.totalRows = response.data.count;
            
          })
          .catch((response) => {

          })
      },
      resetModal() {
        this.modalDetails.data = '';
        this.modalDetails.index = '';
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        //his.totalRows = filteredItems.length;
        //this.currentPage = 1;
      },

      checkConfirmPassWord(user){
        console.log(user);
        if(!user.password || user.password.length < 8){
          return [false,'Vui lòng nhập mật khẩu nhiều hơn 8 ký tự']
        }
        if(!user.repassword){
          return [false,'Vui lòng nhập xác nhận mật khẩu']
        }
        if(user.repassword.trim() != user.password.trim()){
          return [false,'Xác nhận mật khẩu không hợp lệ , vui lòng kiểm tra lại ']
        }
        return [true,null]
      },

      openupdateuser(user) {
        this.edituser = Object.assign({}, user, {updatePassword:false});
        this.$refs.editGroupModal.show();
      },
      opendeleteuser(user) {
        this.edituser = Object.assign({}, user);
        this.$refs.deleteGroupModal.show();
      },
      updateuser(evt){
        evt.preventDefault();
        console.log(this.edituser);
        if (!this.edituser.name) {
          this.$dialog.alert('Vui lòng nhập tên người dùng');
          return;
        } if (!this.edituser.username) {
          this.$dialog.alert('Vui lòng nhập tên truy cập');
          return;
        }
        if (this.edituser.role == '-1') {
          this.$dialog.alert('Vui lòng phân quyền người dùng');
          return;
        }
        if(this.edituser.password && this.edituser.password.trim().length){
          const [checkPass,messCheck] = this.checkConfirmPassWord(this.edituser)
          if(!checkPass){
            this.$dialog.alert(messCheck);
            return;
          }
        }
        
        
          this.$http
            .put('/api/user/updateuser', this.edituser)
            .then((response) => {
              if (response.status == 200 && response.body.code == "SUCCESS") {
                this.$refs.editGroupModal.hide();
                this.$dialog.alert('Cập nhật người dùng thành công ');
                this.getlistuser();
                this.edituser={};
              } else {
                this.$dialog.alert('Cập nhật người dùng thất bại ')
              }
              
            })
            .catch((response) => {
            })
        
      },
      createuser(evt) {
        evt.preventDefault();
        const [checkPass,messCheck] = this.checkConfirmPassWord(this.newuser)
        if (!this.newuser.name) {
          this.$dialog.alert('Vui lòng nhập tên người dùng');
          return;
        } else if (!this.newuser.username) {
          this.$dialog.alert('Vui lòng nhập tên truy cập');
          return;
        }
        else if (this.newuser.role == '-1') {
          this.$dialog.alert('Vui lòng phân quyền người dùng');
          return;
        }
        else if(!checkPass){
          this.$dialog.alert(messCheck);
          return;
        }
        else {
          this.$http
            .post('/api/user/createuser', this.newuser)
            .then((response) => {
              if (response.status == 200 && response.body.code == "SUCCESS") {
                this.$refs.addGroupModal.hide();
                this.$dialog.alert('Thêm người dùng thành công ');
                this.getlistuser();
                this.newuser={type:'-1'};

              } else {
                this.$dialog.alert('Thêm người dùng thất bại ')
              }
              
            })
            .catch((response) => {

            })
        }
      },
      deleteuser(evt) {
        evt.preventDefault();
        this.$http
          .delete('/api/user/deleteuser/'+this.edituser._id)
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {
              this.$refs.deleteGroupModal.hide();
              this.$dialog.alert('Xóa người dùng thành công ');
              this.getlistuser();
              this.edituser={};
            } else {
              this.$dialog.alert('Xóa người dùng thất bại ')
            }
            
          },err=>{
            this.$dialog.alert('Xóa người dùng thất bại ')
          })
          .catch((response) => {

          })
      },
      showUpdatePassword(evt){
        console.log('here in');
        this.edituser.updatePassword = !this.edituser.updatePassword;
        console.log(this.edituser);
      }
    }
  }
</script>

<style lang="scss">


</style>
