<style>
  @import "detailcontrol/style.css";
</style>
<template>

  <!--<vue-chart type="bar" :data="chartData"></vue-chart>-->
  <div class="col-md-8">
    <button @click="check()">nhan</button>
    <radial-gauge :value="111" :options="options"></radial-gauge>
    <!--<linear-gauge :value="377"></linear-gauge>-->
    <div class="12">
      <div class="container">
        <label class="switch">
          <input type="checkbox" class="switch-input">
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>

        <label class="switch">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>

        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>
      </div>
    </div>
  </div>

</template>

<script>

  import BootstrapVue from 'bootstrap-vue'
  import Vue from 'vue'
  import RadialGauge from 'vue2-canvas-gauges/src/RadialGauge'

  //  Vue.use(LinearGauge)
  export default {
    name: 'checktest',
    components: {
      RadialGauge
    },
    data: () => ({
      chartData: {
        labels: ['Item 1', 'Item 2', 'Item 3'],
        datasets: [
          {
            label: 'Component 1',
            data: [10, 20, 30]
          },
          {
            label: 'Component 2',
            data: [20, 30, 40]
          }
        ]
      }
    }),


    computed: {
      reversedSearchText: function () {
        return this.$store.state.appnav.searchText.split('').reverse().join('')
      }
    },

    mounted() {
      this.$store.watch((state) => {
        return state.appnav
      }, (appnav) => {
        // Add some behavior here
        alert('Now you need to make a component to display search results!')
      }, {
        deep: true
      })
//        ,
//        this.renderChart({
//          labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
//          datasets: [
//            {
//              label: 'GitHub Commits',
//              backgroundColor: '#f87979',
//              data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11]
//            }
//          ]
//        })

    },

    methods: {
      check() {
        this.$http
          .get('/api/checktoken')
          .then((response) => {
            console.log(response);
//            this.isSaving = false
//            utils.handleError(this, response)
//            this.$emit('saved', this.address)
          })
          .catch((response) => {
            //console.log(response);
//            this.isSaving = false
//            utils.handleError(this, response)
          })
      }
    },
    sockets: {
      connect() {
        // Fired when the socket connects.
        this.isConnected = true;
      },

      disconnect() {
        this.isConnected = false;
      },

      // Fired when the server sends something on the "messageChannel" channel.
      control(data) {
        console.log('nhanpt'+data);
      }
    },
    props: {


      options: { // https://canvas-gauges.com/documentation/user-guide/configuration
        type: Object,
        default: () => ({
          units: '°C',
          title: 'Nhiet do',
          minValue: 0,
          maxValue: 300,
          width: 300,
          height: 550,
          strokeTicks: true,
          colorBar: 'white',
          colorBarProgress: 'blue',
          highlights: [{
            'from': 100,
            'to': 220,
            'color': 'red'
          }
          ],
          minorTicks: 10,
          majorTicks: [
            '0',
            '220'
          ],
          colorPlate: '#fff',
          borderShadowWidth: 0,
          borders: false,
          needleType: 'arrow',
          needleShadow: true,
          needleWidth: 0,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          numberSide: 'left',
          needleSide: 'left',
          animationDuration: 1500,
          animationRule: 'bounce',
          barWidth: 15,
          valueBox: true,
          valueBoxStroke: 5,
          valueTextShadow: true,
          valueDec: 1,
          barBeginCircle: 0,
          fontNumbersSize: 28,
          fontUnitsSize: 30,
          fontValueSize: 30
        })
      }
    }
  }
</script>
