<style scoped>
  @import "style.css";

  .range-slider {
    width: 100% !important;
  }

  #ex1Slider .slider-selection {
    background: #BABABA;
  }
  #view-chart{
    margin-top: 10px
  }
 #view-chart .doughnut_chart {
    width: auto;
    display:inline-block;
    top: 50% !important;
    left: 50% !important;
    margin-right: -50% !important;
    transform: translate(-50%, -0%) !important
  }

</style>
<template>
  <div class="">
    <div class="ev-dashboard" style="margin-bottom:20px">
      <div id="view-chart" class="col-12"  >
        <div class=" col-md-4 col-lg-4 float-left">
          <div class="text-center">
            <h5>Tổng thiết bị bật</h5>
          </div>
          <doughnut-chart :percent="30" :backgroundColor="'#e6f5ff'" :foregroundColor="'#4075f0'" :visibleValue="true" :emptyText="'test'" classValue="'doughnut'">

          </doughnut-chart>
        </div>

        <div class="col-md-4 col-lg-4 float-left" >
          <div class="text-center">
            <h5>Điện năng đang tiêu thụ</h5>
          </div>
          <doughnut-chart :percent="30" :backgroundColor="'#e6f5ff'" :foregroundColor="'#4075f0'" :visibleValue="true" :emptyText="'test'" classValue="'doughnut'">

          </doughnut-chart>
        </div>

        <div class="col-md-4 col-lg-3 float-left">
          <div class="text-center">
            <h5>Tủ đang bật</h5>
          </div>
          <doughnut-chart :percent="30" :backgroundColor="'#e6f5ff'" :foregroundColor="'#4075f0'" :visibleValue="true" :emptyText="'test'" classValue="'doughnut'">

          </doughnut-chart>
        </div>
        
      </div>
    </div>
    <div class="ev-dashboard" id="view-control-detail" style="padding-top:10px">
      <div id="view-control">
        <div class=" col-md-12" style="overflow: hidden">
          <div class="col-md-5 col-lg-4 col-xl-3  float-left" v-for="group in onGroupFiltered()" v-bind:key="group.id" style="min-height: 250px">
            <section :class="'panel state-overview '+(group.counton?'On':'Off')" :id="'section'+group._id">
              <div class="symbol symbolcontrol" style="margin: auto;">
                <div class="panel-header">
                  <!--<i class="text-left fa fa-lightbulb-o"></i>-->
                  <div class="col-md-7 col-lg-7 text-left">
                    <h5 class="left ">{{group.name}}</h5>
                  </div>
                  <div class="col-md-5 col-lg-5 float-left switch-div">
                    <label class="switch" :id="'switch'+group._id">
                      <input type="checkbox" v-model="group.submit" @change="sendgroupcontrol(group,$event)"
                            class="switch-input">
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
                <hr style="width:100%;background: #fff">
                <router-link :to="'control_group/'+group._id">
                  <i :class="'bigicon '+group.icon" data-original-title="" title=""></i>
                </router-link>

                <ul class="value">
                  <li class="row">
                    <label class="col-md-7 text-left">Công suất :</label> <label class="text-right">{{group.consumer_on}} W</label>
                  </li>
                  <li class="row">
                    <label class="col-md-8 text-left">Số đèn bật :</label><label
                    class="text-right">{{group.counton}}/{{group.devices.length}}</label>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import BootstrapVue from 'bootstrap-vue'
  import Vue from 'vue'
  import Spinner from '@/components/common/Spinner'
  import RangeSlider from 'vue-range-slider'
  import 'vue-range-slider/dist/vue-range-slider.css'
  import socketconfig from '../../../config/config'
  import io from 'socket.io-client';
  import VueMultiselect from "../../../node_modules/vue-multiselect/src/Multiselect";
  import socketio from 'socket.io-client';
  import VueSocketIO from 'vue-socket.io';
  import DoughnutChart from 'vue-doughnut-chart'



  import store from '../../store'

  const SocketInstance = socketio(socketconfig.iosocket, {//http://smartthingstoday.com:8002', {
    'query': 'token=' + store.state.auth.accessToken
  });

  Vue.use(VueSocketIO, SocketInstance)
  let socket = {};

  export default {
    name: 'control',
    components: {
      Spinner, RangeSlider, DoughnutChart
    },


    data() {
      return {
        addressInfo: {
          addressLine1: '',
          addressLine2: '',
          email: '',
          state: '',
          country: '',
          zipcode: '',

        },
        sliderGroupValue: 0,
        sliderDeviceValue: 0,
        error: '',
        currentPage: 1,
        perPage: 20,
        totalRows: 0,
        pageOptions: [{text: 20, value: 20}, {text: 50, value: 50}, {text: 100, value: 100}],
        pageOptionsDevice: [{text: 20, value: 20}, {text: 50, value: 50}, {text: 100, value: 100}],
        filterGroupdata: '',
        filterDevicedata: '',
        modalDetails: {index: '', data: {}},
        doughnutData: {
          labels: [
            'Temp',
            'Humi',
            'Light'
          ],
          datasets: [{
            data: [60, 20, 30],
            backgroundColor: [
              '#ff6384',
              '#36a2eb',
              '#ff9933',
            ],
            label: 'Cam bien 1',
          }],

        },
        urlimagegroup: require('@/assets/images/lightoff.png'),
        urlimagedevice: require('@/assets/images/lightoff.png'),
        controlgroup: [],
        controldevice: [],
        selectgroup: {},
        listselectgroup: [],
        selectdevice: {},
        listselectdevice: [],
        maxValueSlider: 1000,
        checkallgroup: false,
        checkoneall: false,
      }
    },
    sockets: {
      connect() {
        // Fired when the socket connects.
        this.isConnected = true;
      },

      disconnect() {
        this.isConnected = false;
      },

      // Fired when the server sends something on the "messageChannel" channel.
      control(data) {
      console.log(data)
        try {
          if (data.code && data.code == "SUCCESS") {
            this.onGroupFiltered(data);
          }
        }
        catch (err) {
          console.log(err);
        }

      }
      ,
      alert(data){
        console.log(data);
      }
    },
    computed: {

      reversedSearchText: function () {
        return this.$store.state.appnav.searchText.split('').reverse().join('')
      }
    },
    beforeUpdate() {
      // Logs the counter value every second, before the DOM updates.
    },

    mounted() {
      this.$store.watch((state) => {
        return state.appnav
      }, (appnav) => {
        // Add some behavior here
        this.$dialog.alert('Now you need to make a component to display search results!')
      }, {
        deep: true
      }),
        this.getinitdatacontrol()
    },
    beforeMount() {
      //this.connectsocketio()
    },

    methods: {
      details(item, index, button) {
        this.modalDetails.data = item;
        this.modalDetails.index = index + 1;
        this.$refs.detailModalgroup.show();
        //this.$refs.detailModal.show();
      },
      resetModal() {
        this.modalDetails.data = '';
        this.modalDetails.index = '';
      },

      onPath(string, type) {
        if (type == 'group') {
          this.urlimagegroup = require('@/assets/images/light' + string + '.png')
        }
        else if (type == 'device') {
          this.urlimagedevice = require('@/assets/images/light' + string + '.png')
        }

        else {
        }
      },
      getinitdatacontrol() {
        this.$http
          .get('/api/group/getalllistgroupfordevice')
          .then((response) => {
            if (response.status == 200) {
              response.data.forEach((group, index, item) => {
                group.submit = group.counton ? true : false;
              })
              this.controlgroup = response.data;
            }
            this.getlistdevice();
            return ;
          })
          .catch((error) => {
            console.log(error)
          })

      },
      selectdevicefunc(item) {
        this.selectdevice = Object.assign({}, item);
        if (item.check == true) {
          this.listselectdevice.push(this.selectdevice);
        } else {
          var index = this.listselectdevice.findIndex(i => i.group._id === item.group._id);
          this.listselectdevice.splice(index, 1);
        }


        if (this.listselectdevice.length == 0) {

          this.onPath('off', 'device');
        } else {

          var checktiem = true;
          this.listselectdevice.forEach((device, index, arr) => {
            if (device.state == false) {
              checktiem = false;
            }
          });
          if (checktiem) {
            this.onPath('on', 'device');
          } else {
            this.onPath('off', 'device');
          }
        }
      },
      selectgroupfunc(item, type) {
        if (type) {
          this.listselectgroup = []
          if (this.checkallgroup) {
            this.controlgroup.forEach((group, index, arr) => {
              group.check = true;
              this.listselectgroup.push(group.hardwareid);
            });
            return;
          } else {
            this.controlgroup.forEach((group, index, arr) => {
              group.check = false;
              //this.listselectgroup.push(group.hardwareid);
            });
            return;
          }
        }
        this.selectgroup = Object.assign({}, item);
        if (item.check == true) {
          this.listselectgroup.push(this.selectgroup);
        } else {
          var index = this.listselectgroup.findIndex(i => i.group._id === item.group._id);
          this.listselectgroup.splice(index, 1);
        }


        if (this.listselectgroup.length == 0) {

          this.onPath('off', 'group');
        } else {

          var checktiem = true;
          this.listselectgroup.forEach((group, index, arr) => {
            if (group.counton == 0) {
              checktiem = false;
            }
          });
          if (checktiem) {
            this.onPath('on', 'group');
          } else {
            this.onPath('off', 'group');
          }
        }
      },
      sendgroupcontrol(groupcontrol,event) {

        event.target.disabled=true;
        setTimeout(()=>{event.target.disabled=false;},5000)
        let newcontrol = {
          ID: groupcontrol.enode,
          Out: [],
          Status: groupcontrol.submit ? 1 : 0
        };
        groupcontrol.devices.forEach((device, indexdevice, arrdevice) => {
          let sendid = device.hardwareid.toString().match(/\d/g);
          sendid = sendid.join("");
          newcontrol.Out.push(sendid);
        });
        var sendnewcontrol = JSON.stringify(newcontrol);
        this.$http
          .post('/api/control/sendcontrolmethod', sendnewcontrol)
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {
              //this.$dialog.alert('điều khiển nhóm thiết bị thành công ');
              this.listselectgroup[null];
            } else {
              this.$dialog.alert('Điều khiển nhóm thiết bị thất bại ')
            }
          })
          .catch((response) => {

          })

      },
      senddevicecontrol() {
        let newcontrol = {
          value: this.sliderDeviceValue,
          state: false,
          listid: [],
          datetime: new Date()
        };

        this.listselectdevice.forEach((device, index, arr) => {
          let sendid = device.hardwareid.toString().substring(3, str.length);
          newcontrol.listid.push(sendid)
        });
        if (newcontrol.listid.length == 0) {
          this.$dialog.alert('Vui lòng chọn nhóm thiết bị muốn điều khiển');
          return false;
        }
        this.$http
          .post('/api/control/sendcontrolmethod', newcontrol)
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {

              this.$dialog.alert('điều khiển nhóm thiết bị thành công ');
              this.listselectgroup[null];

            } else {
              this.$dialog.alert('Thêm nhóm thiết bị thất bại ')
            }
          })
          .catch((response) => {

          })

      },

      onGroupFiltered(data) {
        if (data) {
          if (data.item.group[0].counton > 0) {
            data.item.group[0].submit = true;
          }
          data.item.group[0].total_consumer = 0;
          var indexlora = this.controlgroup.findIndex(i => i._id === data.item.group[0]._id);
          this.controlgroup.splice(indexlora, 1, data.item.group[0]);
        }
        return this.controlgroup;
        
      },
      onDeviceFiltered() {
        // Trigger pagination to update the number of buttons/pages due to filtering
        if (this.filterDevicedata != '') {
          return this.controldevice.filter((device) => {
            return device.name.includes(this.filterDevicedata) || device.controlid.includes(this.filterDevicedata) || device.hardwareid.includes(this.filterDevicedata)
          })
        } else {
          return this.controldevice;
        }
      },
      getlistdevice() {
        this.$http
          .get('/api/device/getlistdevice?page=1&per_page=1500&query=')
          .then((response) => {
            this.controldevice = response.data.item;
          }, err => {
            this.$dialog.alert('Tải dữ liệu danh sách thiết bị thất bại , vui lòng thử lại sau');
          })
          .catch((response) => {
          })
      },

    }

  }
</script>
