<style scoped>
  @import "style.css";

  .range-slider {
    width: 100% !important;
  }

  #ex1Slider .slider-selection {
    background: #BABABA;
  }
</style>
<template>
  <div class="ev-dashboard">
    <div class="viewheader col-md-12 " style="overflow: hidden;padding-top: 20px">
      <div class="col-md-6 text-left">
        <b-form-fieldset horizontal :label-cols="3">
          <b-form-input v-model="filterGroupdata" placeholder="Tìm kiếm nhóm"/>
        </b-form-fieldset>
      </div>

    </div>

    <div id="view-script">
      <div class="  col-md-12" style="overflow: hidden" >
        <div class="col-md-5 col-lg-4 col-xl-3 float-left " v-for="script in onGroupFiltered()" v-bind:key="script._id" style="min-height: 250px">
          <section :class="'panel state-overview '+(script.counton?'On':'Off')" :id="'section'+script._id">
            <div class="symbol symbolcontrol" style="margin: auto;">
              <div class="panel-header">
                <!--<i class="text-left fa fa-lightbulb-o"></i>-->
                <div class="col-md-7 col-lg-7 text-left">
                  <h5 class="left ">{{script.name}}</h5>
                </div>
                <div class="col-md-5 col-lg-5 float-left switch-div">
                  <label class="switch" :id="'switch'+script._id">
                    <input type="checkbox" v-model="script.submit" @change="sendscriptioncontrol(script,$event)"
                           class="switch-input">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                  </label>
                </div>
              </div>
              <hr style="width:100%;background: #fff">
              <router-link :to="'script/'+script._id">
                <i :class="'bigicon fa fa-superpowers'" data-original-title="" title=""></i>
              </router-link>

              <ul class="value">
                <li class="row">
                  <label class="col-md-7 text-left">Công suất :</label> <label class="text-right">{{script.consumerall}} W</label>
                </li>
                <li class="row">
                  <label class="col-md-8 text-left">Số đèn bật :</label><label
                  class="text-right">{{script.counton}}/{{script.countall}}</label>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import BootstrapVue from 'bootstrap-vue'
  import Vue from 'vue'
  import RangeSlider from 'vue-range-slider'
  // you probably need to import built-in style
  import 'vue-range-slider/dist/vue-range-slider.css'
  import socketconfig from '../../../config/config'
  //import Boostrap from 'bootstrap'
  //import VueSocketio from 'vue-socket.io';
  import io from 'socket.io-client';
  import VueMultiselect from "../../../node_modules/vue-multiselect/src/Multiselect";

  import socketio from 'socket.io-client';
  import VueSocketIO from 'vue-socket.io';
  import store from '../../store'

  const SocketInstance = socketio(socketconfig.iosocket, {//http://smartthingstoday.com:8002', {
    'query': 'token=' + store.state.auth.accessToken
  });

  Vue.use(VueSocketIO, SocketInstance)

  let socket = {};

  export default {
    name: 'controlscription',
    components: {
      RangeSlider
    },


    data() {
      return {
        addressInfo: {
          addressLine1: '',
          addressLine2: '',
          email: '',
          state: '',
          country: '',
          zipcode: '',

        },
        sliderGroupValue: 0,
        sliderDeviceValue: 0,
        friends: '',
        isLoadingFriends: false,
        error: '',
        currentPage: 1,
        perPage: 20,
        totalRows: 0,
        pageOptions: [{text: 20, value: 20}, {text: 50, value: 50}, {text: 100, value: 100}],
        pageOptionsDevice: [{text: 20, value: 20}, {text: 50, value: 50}, {text: 100, value: 100}],
        sortBy: null,
        sortDesc: false,
        filterGroupdata: '',
        filterDevicedata: '',
        modalDetails: {index: '', data: {}},
        doughnutData: {
          labels: [
            'Temp',
            'Humi',
            'Light'
          ],
          datasets: [{
            data: [60, 20, 30],
            backgroundColor: [
              '#ff6384',
              '#36a2eb',
              '#ff9933',
            ],
            label: 'Cam bien 1',
          }],

        },
        urlimagegroup: require('@/assets/images/lightoff.png'),
        urlimagedevice: require('@/assets/images/lightoff.png'),
        controlscripts: [],
        controlscripts_rf:[],
        controldevice: [],
        selectgroup: {},
        listselectgroup: [],
        selectdevice: {},
        listselectdevice: [],
        maxValueSlider: 1000,
        checkallgroup: false,
        checkoneall: false
      }
    },
    sockets: {
      connect() {
        // Fired when the socket connects.
        this.isConnected = true;
      },

      disconnect() {
        this.isConnected = false;
      },

      // Fired when the server sends something on the "messageChannel" channel.
      control(data) {
        try {
          if (data.code && data.code == "SUCCESS") {
          }
        }
        catch (err) {
          console.log(err);
        }

      },
      script(data){

        try {
          if (data.code && data.code == "SUCCESS") {
              console.log('phan hoi')
            console.log(data)
            this.onGroupFiltered(data)
          }
        }
        catch (err) {
          console.log(err);
        }


      }
    },
    computed: {

      reversedSearchText: function () {
        return this.$store.state.appnav.searchText.split('').reverse().join('')
      }
    },
    beforeUpdate() {
      // Logs the counter value every second, before the DOM updates.
    },

    mounted() {
      this.$store.watch((state) => {
        return state.appnav
      }, (appnav) => {
        // Add some behavior here
        this.$dialog.alert('Now you need to make a component to display search results!')
      }, {
        deep: true
      }),
        this.getinitdatacontrol()
    },
    beforeMount() {
      //this.connectsocketio()
    },

    methods: {

      getFriends() {
        this.isLoadingFriends = true

        this.$http
          .get('/api/resource')
          .then((response) => {
            this.isLoadingFriends = false
            this.friends = JSON.stringify(response.data.friends)
          })
          .catch((response) => {
            this.isLoadingFriends = false
            this.error = utils.getError(response)
          })
      },
      details(item, index, button) {
        this.modalDetails.data = item;
        this.modalDetails.index = index + 1;
        this.$refs.detailModalgroup.show();
        //this.$refs.detailModal.show();
      },
      resetModal() {
        this.modalDetails.data = '';
        this.modalDetails.index = '';
      },

      onPath(string, type) {
        if (type == 'group') {
          this.urlimagegroup = require('@/assets/images/light' + string + '.png')
        }
        else if (type == 'device') {
          this.urlimagedevice = require('@/assets/images/light' + string + '.png')
        }

        else {
        }
      },
      getinitdatacontrol() {
        this.$http
          .get('/api/scriptcontrols/get_all_list_script_control')
          .then((response) => {
            console.log(response);
            if (response.data.status == 200 && response.data.code === "SUCCESS") {
              response.data.item.forEach((script, index) => {
                script.submit = script.counton ? true : false;
              })
              this.controlscripts = response.data.item;

            }
            
          })
          .catch((response) => {
          })

      },
      selectdevicefunc(item) {
        this.selectdevice = Object.assign({}, item);
        if (item.check == true) {
          this.listselectdevice.push(this.selectdevice);
        } else {
          var index = this.listselectdevice.findIndex(i => i.group._id === item.group._id);
          this.listselectdevice.splice(index, 1);
        }


        if (this.listselectdevice.length == 0) {

          this.onPath('off', 'device');
        } else {

          var checktiem = true;
          this.listselectdevice.forEach((device, index, arr) => {
            if (device.state == false) {
              checktiem = false;
            }
          });
          if (checktiem) {
            this.onPath('on', 'device');
          } else {
            this.onPath('off', 'device');
          }
        }
      },
      selectgroupfunc(item, type) {
        if (type) {
          this.listselectgroup = []
          if (this.checkallgroup) {
            this.controlscripts.forEach((group, index, arr) => {
              group.check = true;
              this.listselectgroup.push(group.hardwareid);
            });
            return;
          } else {
            this.controlscripts.forEach((group, index, arr) => {
              group.check = false;
              //this.listselectgroup.push(group.hardwareid);
            });
            return;
          }
        }
        this.selectgroup = Object.assign({}, item);
        if (item.check == true) {
          this.listselectgroup.push(this.selectgroup);
        } else {
          var index = this.listselectgroup.findIndex(i => i.group._id === item.group._id);
          this.listselectgroup.splice(index, 1);
        }


        if (this.listselectgroup.length == 0) {

          this.onPath('off', 'group');
        } else {

          var checktiem = true;
          this.listselectgroup.forEach((group, index, arr) => {
            if (group.counton == 0) {
              checktiem = false;
            }
          });
          if (checktiem) {
            this.onPath('on', 'group');
          } else {
            this.onPath('off', 'group');
          }
        }
      },
      sendscriptioncontrol(scriptcontrol,event) {
        console.log(event);
        event.target.disabled=true; 
        setTimeout(()=>{event.target.disabled=false;},5000) 
        let newcontrol = {
          scriptid: scriptcontrol._id,
          status:scriptcontrol.submit?1:0
        };
        this.$http
          .post('/api/control/send_control_scription', newcontrol)
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {
              console.log('dieu khien thanh cong');
            } else {
              this.$dialog.alert('Điều khiển kịch bản thất bại')
            }
          })
          .catch((response) => {

          })

      },
      senddevicecontrol() {
        let newcontrol = {
          value: this.sliderDeviceValue,
          state: false,
          listid: [],
          datetime: new Date()
        };

        this.listselectdevice.forEach((device, index, arr) => {
          let sendid=device.hardwareid.toString().substring(3, str.length);
          newcontrol.listid.push(sendid)
        });
        if (newcontrol.listid.length == 0) {
          this.$dialog.alert('Vui lòng chọn nhóm thiết bị muốn điều khiển');
          return false;
        }
        this.$http
          .post('/api/control/sendcontrolmethod', newcontrol)
          .then((response) => {
            if (response.status == 200 && response.body.code == "SUCCESS") {

              this.$dialog.alert('điều khiển nhóm thiết bị thành công ');
              this.listselectgroup[null];

            } else {
              this.$dialog.alert('Thêm nhóm thiết bị thất bại ')
            }
            
          })
          .catch((response) => {

          })

      },

      onGroupFiltered(data) {
        if (data && data.item) {
            data.item.forEach((script)=>{
              if (script.counton > 0) {
                script.submit = true;
              }else {
                script.submit = false;
              }
              var index_script = this.controlscripts.findIndex(i => i._id === script._id);
              this.controlscripts.splice(index_script, 1, script);
            })
        }

        // Trigger pagination to update the number of buttons/pages due to filtering
        if (this.filterGroupdata != '') {
          return this.controlscripts.filter((script) => {
            return script.name.includes(this.filterGroupdata) || script.enode.includes(this.filterGroupdata)
          })
        } else {
          return this.controlscripts;
        }
      },
      onDeviceFiltered() {
        // Trigger pagination to update the number of buttons/pages due to filtering
        if (this.filterDevicedata != '') {
          return this.controldevice.filter((device) => {
            return device.name.includes(this.filterDevicedata) || device.controlid.includes(this.filterDevicedata) || device.hardwareid.includes(this.filterDevicedata)
          })
        } else {
          return this.controldevice;
        }
      },

    }

  }
</script>

<style lang="scss">
</style>
