.ev-appfooter{
  bottom: -80px !important;
}
.widthfirst{
  width: 30px;
}

/*image lighe*/
.image-light{
  margin: auto;
  padding-top: 50px;
}
.image-light img{
  width: 100%;
  height: 100%;
}
/*table*/

.table-on_active{
  background-color: #66b3ff !important;
}


.dimmer{
  overflow: hidden;
}
.range-slider-inner {
  padding-right: 20px;
}
.range-slider p{
  padding-top:10px;
}
.box-value i{
  position: absolute;
  top: 17px;
  right: 0px;
}
.box-value i{
  position: absolute;
  top: 24px;
  right: 0px;
}
#view-script .state-overview .symbol {
  padding:13px 15px 5px 15px;
  width: 90%;
}
#view-script .panel{
  padding-bottom: 20px;
}
.panel-header{
  /*padding-bottom: 13px;*/
  overflow: hidden;
}
.panel-header h5{
  padding-left: 0px;
  text-align: left;
  min-height: 45px;
}
.panel-header .col-md-8{
  padding: 0px;
}
.panel-header i{
  font-size: 20px;
  color: #fff;
}
#view-script .state-overview .symbol{

}


/* responesive*/
@media(max-width: 1100px) and  (min-width:750px){
  #view-script .col-md-4{
    max-width: 50%!important;
  }
  .switch{
    float: left;
  }
}
@media(max-width: 749px) and  (min-width:1px){
  #view-script .col-md-4{
    max-width: 50%!important;
  }
}

.script-devicename{
  margin-top: 4px;
}


