<template>
  <div class="ev-login col-sm-4 offset-sm-4">
    <form v-on:submit.prevent="submit">
    <spinner v-show="loggingIn" message="Logging in..."></spinner>

    <div class="alert alert-danger" v-if="error">
      <p>{{ error }}</p>
    </div>
    <div class="form-group">
      <input
        type="text"
        data-id="login.username"
        class="form-control js-login__username"
        placeholder="Nhập tài khoản"
        v-model="credentials.username"
      >
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control js-login__password "
        placeholder="Nhập mật khẩu"
        v-model="credentials.password"
      >
    </div>
    <button
      data-id="login.submit"
      class="btn btn-primary solid blank js-login__submit"
      type="submit"
      value="Sub"
      @click="submit()"
    >
      Đăng nhập &nbsp; <i class="fa fa-arrow-circle-o-right"></i>
    </button>
    <br><br><br>
    </form>
  </div>
</template>

<script>
import Spinner from '@/components/common/Spinner'

export default {
  name: 'login',
  components: { Spinner },

  data () {
    return {
      credentials: {
        username: '',
        password: ''
      },
      loggingIn: false,
      error: ''
    }
  },

  created(){
    this.$http
      .get('/api/checktoken')
      .then((response) => {
        if(response.data.code =='SUCCESS'){
         return this.$router.push('/control_group')
        }
        this.$store.commit('CLEAR_ALL_DATA')
      })
      .catch((response) => {
      })

  },
  methods: {
    submit () {
      this.loggingIn = true
      const credentials = {
        username: this.credentials.username,
        password: this.credentials.password
      }
      // Auth.login() returns a promise. A redirect will happen on success.
      // For errors, use .then() to capture the response to output
      // error_description (if exists) as shown below:
      this.$auth.login(credentials, 'control').then((response) => {
        this.loggingIn = false;
        if(response.data&& response.data.success==true){

        }else{
        this.error = response.body.message || utils.getError(response)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.ev-login {
  margin-top: 100px;
}

</style>
